<div class="divide40"></div>

<div class="container">

    <div class="purchase-section">
        <div class="row">
            <div class="col-md-9">
                <h3>Coupons are a great way to attract new and existing customers to your business.</h3>
                <p>theRRD provides your organization access nationally or locally to rental applicants for every property our clients service.</p>
            </div>
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#couponModal" class="btn btn-lg btn-theme-bg" >Apply for Coupon Advertising Today</button>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

    <div class="divide30"></div>

    <h3 class="heading">Coupon Marketing Targeted Towards Renters</h3>

    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li>Vendors have the opportunity to have a coupon printed, and given to each applicant that moves within the geographic areas you service.  </li>
                <li>This allows your company to focus advertising dollars to people that are moving new to your are today. </li>
                <li>Your coupon will automatically print with the printed report to be given to the applicant, or to be included in their welcome packet with the property.</li>
                <li>Vendors have the option of local, regional, or national coverage.</li>
                <li>Volume pricing discounts may apply.</li>
            </ul>
        </div>

        <div class="col-lg-4">
            <img src="/img/coupon-plus-advertising.jpeg" style="height: 320px; width: 350px;">
        </div>
    </div>
</div>
