<div class="divide30"></div>

<div class="container advertising-index">
    <h3 class="heading">Advertise on The RRD</h3>

    <a class="h3-link" href="/advertising/online">Online Advertising</a>
    <p>Advertise on this website to a audience of Landlords, property managers, and real estate agents.</p>

    <hr>

    <a class="h3-link" href="/advertising/coupon">Coupon Advertising</a>
    <p>Have a coupon ad that prints out along with every tenant and employment screening report. </p>
    <hr>

    <a class="h3-link" href="/vendor/referral-signup">Vendor Referral Program Sign Up</a>
    <p>Be a searchable vendor in our vendor database.</p>
    <hr>

    <a class="h3-link" href="/vendor/property-manager-referral-signup">Property Management Referral Program Sign Up</a>
    <p>Become an RRD recommended property management company to get more leads.</p>
    <hr>
</div>
