<div class="divide40"></div>

<div class="container">

    <div class="purchase-section">
        <div class="row">
            <div class="col-md-9">
                <h3>Advertising is crucial to a business' success.</h3>
                <p>We provide your organization the opportunity to be seen either nationally or locally
                    by the decision makers of commercial, multifamily and residential properties.
                    Target your market segment directly with theRRD.</p>
            </div>
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#onlineAdvertisingModal" class="btn btn-lg btn-theme-bg" >Apply To Advertise Online Today</button>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

    <div class="divide30"></div>

    <h3 class="heading">Target Top Decision Makers in the Industry</h3>

    <div class="row">
        <div class="col-lg-8">
            <p>If your company is looking to attract the attention of owners and managers of real estate,
                we have the ability to get you in front of some of the industry’s top professionals.</p>

            <p>The RRD is fast becoming the leading real estate and insurance website in the US for all property
                managers and owners of real estate. This has allowed us to begin offering advertising on a well
                trafficked site that is targeted directly to the decision makers of residential and commercial
                properties. As part of our marketing program, The RRD...</p>

            <p>1) Does not allow competing vendors with similar products to advertise in the same geographical area;<br>

                2) Can Geo-Position your ad, so that you are able to advertise locally, regionally or nationally;<br>

                3) Offers flexibility in terms of advertisement, and offers a 30 day termination with no penalty;<br>

                4) Exposes you to owners and managers of multifamily and commercial real estate in your markets;<br>

                5) Offers unbeatable, reasonable pricing (package plans available upon request)<br>

                in addition we have...<br></p>
        </div>

        <div class="col-lg-4">
            <img src="/img/online-plus-advertising.jpeg" style="height: 320px; width: 350px;">
        </div>
    </div>

    <br>

    <h3 class="heading">E-Newsletter Sponsorship</h3>

    <div class="row">
        <div class="col-lg-4">
            <iframe style="overflow-y:hidden;" src="https://magic.piktochart.com/embed/497778-online-advertising-copy" scrolling="no" frameborder="0" width="600" height="953"></iframe>
        </div>

        <div class="col-lg-8">
            <p>Vendors can also sponsor our weekly e-newsletters that go out to thousands of property
                management professionals each week.  Featured vendors will have a description of their
                company, company logo, and a link to click through to their website. </p>
        </div>
    </div>
</div>
