<!-- Hero Slider -->
<div id="main-slider" class="one-page-static-wrap parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-slider">
                    <div class="slides">
                        <h2>Sorry!</h2>

                        <p style="color: #f79100">
                            Oops, Something Went Wrong. Please Try Again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Hero Slider -->
