<!-- Demo Block -->
<div id="#demoBlock" class="divide40"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="purchase-section">
                <div class="row">
                    <div class="col-md-10">
                        <h3>theRRD offers a wide range of tools for your daily needs</h3>
                        <p>Finally there is an integrated suite of market-leading solutions that provides
                            a more complete toolset for the real estate industry. Screen prospective tenants,
                            report and view lease violations, find real estate employees, post your property
                            listings for rent and sale, locate vendors, and much more!
                        </p>
                    </div>
                    <div class="col-md-2">
                        <button data-toggle="modal" data-target="#getMoreInfoModal" class="btn btn-lg btn-theme-bg" >Get More Info Today!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Demo Block -->

<!-- Product Cards -->
<div class="divide70"></div>
<div class="container" id="#productCards">
    <div class="row">

        <!-- Listing Card -->
        <div class="col-md-4 col-sm-4">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="header">
                        <h5 class="motto"><i class="fa fa-home"></i>Listings</h5>
                    </div>
                    <div class="content">
                        <div class="main">
                            <p style="color: #FFFFFF">Market listings online while promoting your brand. Post both commerFcial and residential real estate listings either for sale or rent.</p>
                            <p style="color: #FFFFFF"><a style="color: #ffffff; padding-left: 0; font-size: 14px;" href="/residential/sale">Find residential real estate homes for <span style="color: #f89101;">sale.</span></a></p>
                            <p style="color: #FFFFFF"><a style="color: #ffffff; padding-left: 0; font-size: 14px;" href="/residential/rent">Search for apartments and houses for <span style="color: #f89101;">rent or lease.</span></a></p>
                        </div>
                    </div>
                    <div class="footer">
                        <a href="/residential/rent" class="btn btn-lg btn-theme-bg">Get More Info</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Screening Card -->
        <div class="col-lg-4 col-sm-4">
            <div class="card-container-big manual-flip scale">
                <div class="card">
                    <div class="header">
                        <h5 class="motto"><i class="fa fa-search"></i>Screening</h5>
                    </div>
                    <div class="content">
                        <div class="main text-center">
                            <p style="color: #FFFFFF;">Screening combines comprehensive data with streamlined technology to deliver immediate results so that you can make an informed decision.</p>
                            <div class="card-feature"><a href="/screening/tenant"><i class="fa fa-search"></i> Tenant Screening</a></div>
                            <div class="card-feature"><a href="/screening/#tenant-Screening?slide=1&product=25"><i class="fa fa-search"></i> Instant Tenant Screening</a></div>
                            <div class="card-feature"><a href="/screening/employment"><i class="fa fa-building"></i> Employment Screening</a></div>
                            <div class="card-feature"><a href="/screening/incident"><i class="fa fa-file-text-o"></i> Incident Reporting</a></div>
                        </div>
                    </div>
                    <div class="footer">
                        <a href="/screening/tenant" class="btn btn-lg btn-theme-bg">Get More Info</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jobs Card -->
        <div class="col-md-4 col-sm-4">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="header">
                        <h5 class="motto"><i class="fa fa-suitcase"></i>Jobs</h5>
                    </div>
                    <div class="content">
                        <div class="main">
                            <p style="color: #FFFFFF">Posting jobs on our network expands your recruitment reach and attracts qualified candidates for real estate professionals nationwide.</p>
                            <p style="color: #FFFFFF"><a style="color: #ffffff; padding-left: 0; font-size: 14px;" href="/jobs/search"><span style="color: #f89101;">Search</span> for the job that's right for you.</a></p>
                        </div>
                    </div>
                    <div class="footer">
                        <a href="/jobs/post" class="btn btn-lg btn-theme-bg">Get More Info</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End of Product Cards -->

<br>
<br>

<!-- Product Blocks -->
<div id="#productBlocks" class="divide80"></div>
<div class="container">
    <div class="row">

        <!-- Insurance -->
        <div class="col-md-3 margin20">
            <div class="service-box-2">
                <i class="fa fa-shield"></i>
                <h4>Insurance</h4>
                <p>Safeguard your property investment with property insurance and liability coverage.
                    Our clients are also eligible to receive a $5 referral fee for each renter's insurance signup.
                </p>
                <a href="/insurance/renters" style="color: #d97500;">Learn More</a>
            </div>
        </div>

        <!-- Vendor Guide -->
        <div class="col-md-3 margin20">
            <div class="service-box-2 text-center">
                <i class="fa fa-database"></i>
                <h4>Vendor Guide</h4>
                <p>Find, research and rate vendors in our quickly growing directory for all your property needs.
                    Including plumbers, general contractors, roofing and more.
                </p>
                <a href="/vendor/guide" style="color: #d97500;">Learn More</a>
            </div>
        </div>

        <!-- Resource Blog -->
        <div class="col-md-3 margin20">
            <div class="service-box-2">
                <i class="fa fa-info"></i>
                <h4>Resource Blog</h4>
                <p>theRRD provides a comprehensive resource to learn best practices for property management
                    and screening residents while making sure you're in compliance with the
                    Fair Credit Reporting Act and Fair Housing Laws.
                </p>
                <a href="http://blog.therrd.com/" style="color: #d97500">Learn More</a>
            </div>
        </div>

        <!-- Community -->
        <div class="col-md-3 margin20">
            <div class="service-box-2">
                <i class="fa fa-users"></i>
                <h4>Community</h4>
                <p>Neighborhood Email Alert System: Our clients get real time alerts from
                    police and other authorities on local neighborhood incidences.
                    <br>
                    Outreach: theRRD conducts educational speaking engagements to local neighborhood watch communities.
                </p>
                <a href="/company/community" style="color: #d97500">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Product Blocks -->

<br>
<br>
<br>

<!-- Process v1 -->
<div class="container">
    <div class="process-v1" id="ourProcess">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h3 class="heading">Our Process</h3>
                <p align="center">Streamlined steps to get you up and running quickly. </p>
            </div>
            <ul class="list-inline row process-in process-border">
                <li class="col-sm-4 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>Submit Application</h3>
                        <p>Use our online application to request access to our services.</p>
                    </div>
                </li>
                <li class="col-sm-4 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>Receive a Phone Call</h3>
                        <p>Our client relations representative will reach out to you for further
                            verification and next steps to grant you account access.
                        </p>
                    </div>
                </li>
                <li class="col-sm-4 sm-margin-bottom-50">
                    <div class="process-icon">
                        <i class="rounded-x dot-active"></i>
                    </div>
                    <div class="process-desc">
                        <h3>Immediate Results</h3>
                        <p>Once you're an account holder you'll be granted access to all of our services
                            and can then begin processing instantly.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End of Process v1 -->

<br>
<br>

<!-- Client Testimonials -->
<div class="testimonials parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="testimonials-carousel" class="owl-carousel owl-spaced">
                    <div>
                        <h4>
                            <i class="fa fa-quote-left"></i> theRRD team is very helpful and informative.
                            They have been responsive to our questions about tenant screening needs
                            and offer competitive pricing with a system that is extremely easy to use.
                            This streamlines our workload and makes it fast and effective.
                        </h4>
                        <p>Joe Rakoczy | MetroTex</p>
                    </div>
                    <div>
                        <h4>
                            <i class="fa fa-quote-left"></i> I have been a property manager and investor for many years,
                            and the biggest bottle neck that my company faced was the oversight of applicants.
                            Thanks to theRRD I now have the ability to oversee all of the reports from my dashboard,
                            override results when needed, and make more informed decisions,
                            allowing only tenants that fit our company criteria to be approved -
                            this took away the element of human error. An important tool,
                            that every apartment community needs.
                        </h4>
                        <p>Marry Ann Whited | Community Manager</p>
                    </div>
                    <div>
                        <h4>
                            <i class="fa fa-quote-left"></i> We are in constant communication with
                            other apartment complexes on a daily basis...
                            I really like the fact that we are working together in the community
                            with the police department...it's a nice way to bring the whole community
                            on board with this service.
                        </h4>
                        <p>MaryAnne | Gardens of Valley Ranch</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Client Testimonials -->

{{>contact_us}}

{{>clients}}

{{#extend 'extra_bottom'}}
    <script>
        $(function() {
            $("#testimonials-carousel").owlCarousel({
                items: 1,
                itemsCustom: false,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [980, 1],
                itemsTablet: [768, 1],
                itemsTabletSmall: false,
                itemsMobile: [479, 1],
                singleItem: false,
                startDragging: true,
                autoHeight: true
            });
        });
    </script>
{{/extend}}
