{{>insurance_menu}}

<div class="container">
    <h3 class="heading">Liability Insurance</h3>

    <div class="purchase-section">
        <div class="row">
            <div class="col-md-10">
                <h3>General Liability is coverage for the operations of your business.</h3>

                <p>General liability (GL) insurance provides vital protection for your
                    business. This protection, also known as business liability insurance or
                    commercial general liability (CGL) insurance, protects your business
                    should injury or property damage occur to others as a result of your
                    business operations.</p>
            </div>
            <div class="col-md-2">
                <button data-toggle="modal" data-target="#liabilityInsuranceQuote"
                        class="btn btn-lg btn-theme-bg">Get A Quote Today!</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide30"></div>

    <p style="text-align: justify;">When it comes to your business, no matter how careful you are,
        someone can sue you for matters related to your company's operations, and you could be found
        legally liable for negligence. Being properly insured is critical to protecting your
        business. Let theRRD become a part of your business strategy; we'll help find the right
        coverage for your business.</p>

    <ul>
        <li>Property Damage – Damage to property that you are legally liable for (including
            rented property)
        </li>
        <li>Bodily Injury – Injuries to persons for which you are legally liable</li>
        <li>Medical Payments – Bodily injury that occurs during the course of your business
            operations
        </li>
        <li>Defense Costs – Suits against your company regardless of fault</li>
        <li>Personal & Advertising Injury – Claims of slander and libel, copyright
            infringement or wrongful eviction.
        </li>
    </ul>

    <p>For anyone owning a business, commercial general liability insurance is something you cannot do without.</p>

    <div class="divide30"></div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/auRgvq1TPtA"></iframe>
            </div>
        </div>
    </div>

    <div class="divide30"></div>
    <p style="font-size: small; font-style: italic; font-weight: lighter;">*Insurance underwritten
        by insurance company subsidiaries or affiliates of J. B. Llyod & Associates, LLC. The
        description herein is a summary and intended for informational purposes only and does not
        include all terms, conditions and exclusions of the policies described. Please refer to the
        actual policies for terms, conditions, and exclusions of coverage. Insurance, coverage and
        discounts are subject to terms and conditions, which may vary by state. Discount amounts and
        total savings will vary.</p>
</div>
