{{>insurance_menu}}

<div class="container">
    <h3 class="heading">Property Insurance</h3>

    <div class="purchase-section">
        <div class="row">
            <div class="col-md-10">
                <h3>Protect Your Business Property With Commercial Property Insurance.</h3>

                <p>You've built your business with a lot of hard work and continual
                    investment in your equipment, facilities and inventories. Make sure it's
                    protected.</p>
            </div>
            <div class="col-md-2">
                <button data-toggle="modal" data-target="#propertyInsuranceQuote"
                        class="btn btn-lg btn-theme-bg">Get A Quote Today!</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide40"></div>

    <p>Business property insurance is one of the most important investments ensuring the future of
        your business. Whether you own your building, lease your workspace or work at home, business
        property insurance protects your business’ physical assets.</p>

    <p>If a storm, fire, theft or other event damages your building, its contents,
        or any outdoor fixtures (like signs, fencing and landscaping), your business faces serious hardship.
        The cost to replace or repair buildings and equipment are often higher than you think,
        and if you're shut down until you can pay for repair or replacement your business could
        struggle to recover.</p>

    <p>Business property insurance can help pay to repair or replace what's been damaged,
        so you're able to recover and get back to work faster.</p>

    <div class="row well-sm">
        <div class="col-md-10">
            <h3>Refer A Friend For Property Insurance And You Can Receive As Much As A $1000 Referral Fee!</h3>
        </div>
        <div class="col-md-2">
            <a href="/insurance/property-insurance-referral-fee" class="btn btn-lg btn-theme-bg">Learn More</a>
        </div>
    </div>

    <p style="font-size: small; font-style: italic; font-weight: lighter;">*Insurance underwritten by insurance company subsidiaries or affiliates of
        J. B. Llyod & Associates, LLC. The description herein is a summary and intended for informational
        purposes only and does not include all terms, conditions and exclusions of the policies described.
        Please refer to the actual policies for terms, conditions, and exclusions of coverage. Insurance,
        coverage and discounts are subject to terms and conditions, which may vary by state.
        Discount amounts and total savings will vary.</p>
</div>
