{{>insurance_menu}}

<div class="container">
    <h3 class="heading">Renters Insurance</h3>

    <div class="purchase-section">
        <div class="row">
            <div class="col-md-10">
                <h3>Cover What You Care About For A Few Bucks A Week</h3>

                <p>If you're shopping for renters insurance, congratulations on your wise
                    decision! All too many people find out too late that their landlord's
                    insurance policy doesn't protect their personal belongings. You're smart
                    to seek coverage now. And you've come to a great place to find
                    affordable renters insurance.</p>
            </div>
            <div class="col-md-2">
                <button data-toggle="modal" data-target="#rentersInsuranceQuote"
                        class="btn btn-lg btn-theme-bg">Get A Quote Today!</button>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

    <div class="divide40"></div>

    <p>Sometimes called apartment insurance, a renters insurance policy helps protect your personal
        property. Renters Insurance covers damage such as kitchen fires, water damage, burglary,
        most incidents of mother nature, and much more - all at a reasonable rate.</p>

    <ul>
        <li>Get coverage for as little as $0.43 a day.</li>
        <li>Available coverage levels from $10,000 - $40,000.</li>
        <li>Personal Liability coverage from $25,000 - $100,000.</li>
        <li>Reimbursement for the cost of replacing personal property without subtracting depreciation.</li>
        <li>You are already qualified!</li>
    </ul>

    <p style="font-size: small; font-style: italic; font-weight: lighter;">*Insurance underwritten
        by insurance company subsidiaries or affiliates of J. B. Llyod & Associates, LLC. The
        description herein is a summary and intended for informational purposes only and does not
        include all terms, conditions and exclusions of the policies described. Please refer to the
        actual policies for terms, conditions, and exclusions of coverage. Insurance, coverage and
        discounts are subject to terms and conditions, which may vary by state. Discount amounts and
        total savings will vary.</p>
</div>
