<!-- A & A Intro -->
<div class="divide40"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="dropcap" id="aaParagraph" style="text-align: justify">Refer your visitors and earn top revenue with our
                leading affiliate program. With best in class conversion rates and, of course, top rated service
                and support, our products fill our clients’ needs. Send us your traffic and get paid! It’s that easy.</p>
        </div>
        <div class="col-lg-12">
            <h3 class="heading">Why Choose Us?</h3>
            <ul class="address-info list-unstyled col-lg-6">
                <li><strong><i class="fa fa-check"></i></strong> We are a leading Tenant Screening service.</li>
                <li><strong><i class="fa fa-check"></i></strong> We have best in class conversion rates from lead generation.</li>
                <li><strong><i class="fa fa-check"></i></strong> We are top rated for our client support.</li>
                <li><strong><i class="fa fa-check"></i></strong> <strong>We have generous compensations with recurring payments!</strong></li>
                <li><strong><i class="fa fa-check"></i></strong> We have sophisticated tracking and statistics.</li>
                <li><strong><i class="fa fa-check"></i></strong> All of your account information and screening request information is processed through secure web pages</li>
                <li><strong><i class="fa fa-check"></i></strong> Generated instantly online and are accessible 24/7/365</li>
                <li><strong><i class="fa fa-check"></i></strong> All in one Exclusive Service</li>
            </ul>
            <img class="col-lg-6 col-sm-12" src="/img/affiliates/affiliatemarketing.jpg" style="height: 420px; width: 550px;">
        </div>
    </div>
</div>
<!-- End A & A Intro -->

<!-- Affiliate Logos --->
<div class="divide30"></div>
<div class="container">
    <div class="row">

        <!-- Client Logos Title -->
        <div class="col-md-12">
            <h3 class="heading" id="clientLogosTitle">Affiliates</h3>
        </div>

        <!-- Client Logos -->
        <div class="text-center">
            <div style="display: inline-block"><a href="http://www.lloyd-ins.com/" target="_blank"><img src="/img/affiliates/llyod-logo.png"></a></div>
            <div style="display: inline-block"><a href="https://www.rocketlawyer.com/?utm_source=1205" target="_blank"><img src="/img/affiliates/rocket-lawyer.png"></a></div>
            <div style="display: inline-block"><a href="http://www.wiseagent.com/" target="_blank"><img src="/img/affiliates/wise-agent.png"></a></div>
            <div style="display: inline-block"><a href="http://www.bmccapital.com/" target="_blank"><img src="/img/affiliates/bmc-logo.png"></a></div>
            <div style="display: inline-block"><a href="https://www.trieagleenergy.com/TX/residential/Default.aspx" target="_blank"><img src="/img/affiliates/trieagle.jpeg"></a></div>
        </div>
    </div>
</div>
<!-- End of Affiliate Logos -->

<!-- Associations Logos --->
<div class="divide30"></div>
<div class="container">
    <div class="row">

        <!-- Client Logos Title -->
        <div class="col-md-12">
            <h3 class="heading">Our Associations & Certifications</h3>
            <p class="dropcap">theRRD is an active member of local, regional and national professional associations.
                We exhibit at trade shows across the US and provide free tenant screening education presentations
                to association members. We also have partnered with many associations through our affiliate program
                and we are proud these associations have endorsed our services.</p>
        </div>

        <!-- Client Logos -->
        <div id="associationsLogos" class="text-center">
            <div style="display: inline-block"><a href="http://www.naahq.org/" target="_blank"><img src="/img/associations/naa_logo.png"></a></div>
            <div style="display: inline-block"><a href="https://www.napbs.com/" target="_blank"><img src="/img/associations/NAPBS-Logo.png"></a></div>
            <div style="display: inline-block"><a href="http://www.taa.org/" target="_blank"><img src="/img/associations/taa.png"></a></div>
            <div style="display: inline-block"><a href="http://www.narpm.org/" target="_blank"><img src="/img/associations/logo_narpm.png"></a></div>
            <div style="display: inline-block"><a href="http://www.sheriffs.org/" target="_blank"><img src="/img/associations/nsa-logo.png"></a></div>
        </div>

    </div>
</div>
<!-- End of associations Logos -->

<div class="divide40"></div>
