<!-- Career Intro Paragraph -->
<div class="divide40"></div>
<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <p class="dropcap" style="text-align: justify">The RRD is a start-up transitioning into growth mode.
                We provide the ultimate tool for landlords, property managers, and real estate agents.
                Our products and services allow real estate professionals to screen tenants, report and view
                incidents for lease violations, list properties for sale or rental, post open positions
                for employment, search for vendors and more.</p>

            <p>Our Culture: Our work-hard, play-hard team is always on the lookout for amazing talent.
                With a fast-growing mix of dynamic up-and-comers and veteran entrepreneurs,
                the only thing we’re missing is you.</p>

            <ul>
                <li>Dynamic, collaborative team-oriented environment</li>
                <li>Fast-paced, goal minded culture</li>
                <li>Engaging projects and critical work deliverable</li>
            </ul>

            <p class="text-center">To apply for a position, send an email to info@therrd.com or call 214-520-7577.</p>
            <p>Don't see a position relevant to you?  We'd still love to hear from you!
                Send us your resume and tell us how you can contribute to the team! </p>
        </div>
    </div>
    <hr>
</div>
<!-- End of Career Intro Paragraph -->

<!-- Marketing Associate -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h3 class="heading" style="text-align: left;">Marketing Associate</h3>
            <p style="text-align: justify">The RRD is looking for an experienced marketer to join our marketing team.
                The RRD is a start-up transitioning into growth mode and we are seeking a candidate that
                can guide our marketing campaign to take us to becoming the top real estate service provider.</p>

            <p>This is a great opportunity for someone who wants to contribute to all aspects of marketing
                and public relations. As an associate, you’ll be responsible for developing and executing
                marketing programs across channels to generate leads, drive demand, and contribute to a
                successful sales process. Our ideal candidate is a strategic thinker who continuously pushes
                the envelope to deliver qualified leads to sales. As a member of the marketing team
                in a growing company, this role is expected to wear many marketing hats and manage
                multiple projects simultaneously.</p>

            <p>Job Description:</p>

            <ul>
                <li>Develop integrated marketing plans with cross-functional and cross-level teams to understand their needs and provide new ideas to create an integrated sales and marketing approach, inclusive of lead generation, sales resources and online content.</li>
                <li>Develop and execute thought leadership initiatives, which may include white papers, blog posts and webinar content.</li>
                <li>Continuously optimize multiple RRD brand web sites and lead SEM campaigns to successfully bring new products, services and software to market.</li>
                <li>Create and execute a sales and marketing plan for applicable RRD brands including Google Analytics, Adwords campaigns (including print and display advertising). Landing Pages, Emails, Collateral and Content/Promotional pieces, Social Media Management, Affiliate Marketing Management, Trade Show Events and Field Events (as necessary), and Press Release contact and distribution.</li>
                <li>Analyze and provide performance results and recommendations for all marketing programs.</li>
                <li>Work across disciplines to become an expert resource for marketing/business/branding best practices RRD product and service offerings and collaborate the strategic planning process for all clients.</li>
            </ul>

            <p>Desired Skills and Expertise:</p>

            <ul>
                <li> Google Analytics </li>
                <li>AdWords certification including remarketing </li>
                <li>Email marketing </li>
                <li>Content Writing </li>
                <li>Copywriting/Editing </li>
                <li>Social media management </li>
                <li>Affiliate marketing </li>
                <li>Planning and implementing trade show events </li>
                <li>Design print and display advertising </li>
                <li>Writing press releases and emailing media contacts </li>
                <li> Minimum of 3 years of experience </li>
                <li>Strong sales pitch and branding writing ability </li>
                <li> Proficient in Microsoft Office Suite </li>
            </ul>

            <p>To apply to this position, please email info@therrd.com</p>

        </div>
    </div>
    <hr>
</div>
<!-- End of Marketing Associate -->

<!-- Senior Web Architect -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h3 class="heading" style="text-align: left;">Senior Web Architect</h3>
            <p style="text-align: justify">The RRD is looking for an experienced Senior Web Architect to join our development team.
                This is a great opportunity for someone who wants to contribute to all aspects of development.
                As an Senior Web Architect, you’ll be responsible for developing and executing custom built
                web applications using a variety of standard php development frameworks including Cake PHP
                and Zend frameworks. Our ideal candidate is a strategic thinker who continuously pushes the
                envelope to deliver on an Enterprise level platform. As a member of the development team in
                a growing company, this role is expected to wear many development hats and manage multiple
                projects simultaneously.</p>

            <p>You Will:</p>

            <ul>
                <li>Lead all phases of system development life cycle with managing timelines and underlying costs.</li>
                <li>Oversee technical architecture for company's web portal while developing technical standards and processes.</li>
                <li>Create and execute the design and construction of an enterprise portal stack, including browser and mobile API integration, application server, web services, data, security, and supporting systems.</li>
                <li>Communicate directly with peers, managers and business users while leading development efforts to a completed and successful solution.</li>
            </ul>

            <p>Technologies: We will be using a variety of Enterprise level technologies including but not limited to:</p>

            <ul>
                <li>CakePHP – PHP Application Framework</li>
                <li>ACL – Access Control Lists for user permission management </li>
                <li>Database Migration and Reversion tools (TBD)</li>
                <li>Continuous Integration Tools (TBD)</li>
                <li>SQL where necessary and NoSQL Databases where appropriate and needed (MongoDB / SOLR)</li>
                <li>HTTPS / SSH access only for enhanced security. SSH access only through custom VPN</li>
                <li>Git / Bitbucket – Version control management</li>
                <li>API Integration with various vendors</li>
            </ul>

            <p>You Will Need:</p>

            <ul>
                <li>BS in Computer Science or Computer Engineering, MS preferred</li>
                <li>Minimum of 7 years of experience </li>
            </ul>

            <p>To apply to this position, please email info@therrd.com</p>

        </div>
    </div>
    <hr>
</div>
<!-- End of Senior Web Architect -->
