<div class="divide40"></div>

<div class="container">
    <h3 class="heading">Neighborhood Email Alert System</h3>

    <div class="purchase-section">
        <div class="row">
            <div class="col-md-9">
                <h3>Sign up to be a part of theRRD Community.</h3>
            </div>
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#communityModal" class="btn btn-lg btn-theme-bg">Sign Up Today!</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide40"></div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-square img-responsive img-center" src="/img/emailalertsystem.jpeg">
        </div>

        <div class="col-md-8">Missing Persons. Criminal Trespass. On-Property Crime. Suspicious Activity. Neighborhood Crimes.<br>
            The RRD's Email Alert System allows law enforcement officers to send property managers, owners and
            landlords an alert or inquiry, informing you in real time of an issue that requires immediate attention.
            Registration for law enforcement officers is fast and free! If you are a Community Officer or would like
            to refer your neighborhood Officer please contact <a href="mailto:support@therrd.com." target="_blank" style="color: #2ea324">support@therrd.com.</a>
        </div>
    </div>

    <div class="divide40"></div>
    <p>The RRD publishes educational articles for multifamily magazines and Real Estate websites to help
        Property Managers and Owners improve their properties, in an effort to reduce crime in their communities.
        The RRD also educates at Crime Watch Meetings, Crime Free Association Conferences, and works closely
        with law enforcement nationwide. To book a meeting, or to receive informational materials for an upcoming
        Crime Watch Meeting, please contact Angie Grimes at <a href="mailto:angie@theRRD.com" target="_blank" style="color: #2ea324">angie@theRRD.com</a>
    </p>
</div>
