<!-- A Little Bit About Us -->
<div class="divide40"></div>
<div class="container">
    <div class="row">

        <!-- About Us Title -->
        <div class="col-md-12">
            <h3 class="heading" id="aboutUsTitle">A little About Us</h3>
            <p class="dropcap" id="aboutUsParagraph" style="text-align: justify"> theRRD provides the ultimate tool for landlords,
                property managers, and real estate agents. Our products and services allow real estate professionals
                to screen tenants, report and view incidents for lease violations, list properties for sale or rental,
                post open positions for employment, search for vendors and more.</p>
            <p style="text-align: justify">Our streamlined technology coupled with our comprehensive data deliver
                immediate results so that you can make an informed decision. This allows real estate
                professionals to reduce the amount of time they need to spend screening applicants
                all in one place.We began by providing the real estate industry
                “the first and only Fair Credit Reporting Act Compliant” free way to report and track.</p>
        </div>

        <!-- Value Block #1 -->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft animated" data-wow-delay="200ms">
                <h4><i class="fa fa-dollar"></i> Value Driven</h4>
                <p>By consolidating multiple solutions, our platform offers a singular comprehensive
                    product suite. Coupled with our comprehensive data we provide outstanding functionality,
                    convenience and ease of use.</p>
            </div>
        </div>
        <!--End Value Block #1-->

        <!-- Value Block #2 -->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft animated" data-wow-delay="400ms">
                <h4><i class="fa fa-users"></i> Customer Service Oriented</h4>
                <p>We know how to work as a team and understand the importance of relationships.
                    We put our clients first, focused on finding a better way to meet their needs.
                    Our core objective on collaborating as a resource through initiative, accountability,
                    respect and trust. Working together to deliver value to those we serve.</p>
            </div>
        </div>
        <!-- End of Value Block #2 -->

        <!-- Value Block #3 -->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft animated" data-wow-delay="600ms">
                <h4><i class="fa fa-check-circle"></i> Simplified </h4>
                <p>As a single, trusted source, our straightforward solution is designed to improve
                    user success by increasing accuracy, professionalism and productivity,
                    while streamlining activity, enhancing industry collaboration and eliminating redundancies.</p>
            </div>
        </div>

        <!-- Progress Bars --->
        <div class="col-lg-12">

            <div class="col-md-6">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: #f79100;">
                        <span class="text-center" style="color: black;">100%</span> <span class="sr-only"></span>
                    </div>
                </div>
                <h5 class="header">of the cost for screening can be passed along to the applicant.</h5>
            </div>

            <div class="col-md-6">

                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 76.6%; background-color: #f79100;">
                        <span class="text-center" style="color: black;">76.6%</span> <span class="sr-only"></span>
                    </div>
                </div>
                <h5 class="header">of the tracked criminals were re-arrested within five years.</h5>

            </div>
        </div>
    </div>
</div>
<!-- End of A Little Bit About Us -->

{{>clients}}

<!-- Team -->
<div class="divide30" id="teamSection"></div>
<div class="container">
    <div class="row">

        <!-- What They Say About Us Title -->
        <div class="col-md-12">
            <h3 class="heading" id="teamTitle">Team</h3>
        </div>

        <!-- Team Member 1 -->
        <div class="col-md-4">
            <div class="teamCard-container">
                <div class="teamCard">
                    <div class="front">
                        <div class="user">
                            <img class="img-circle" src="img/team/joe.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Joe Killinger</h3>
                                <p class="profession">CEO</p>
                                <p style="text-align: justify; padding-top: -50px;">As the CEO and Co-Founder,
                                    Joe drives the company's vision, strategy and growth. Focused on providing value
                                    driven opportunities to the real estate industry. Under Joes leadership,
                                    theRDD and its affiliates stand at the forefront of the real estate industry.
                                    Mr. Killinger is also a Partner in Pono Asset Management (“Pono A.M.”)
                                    which is the largest investor in theRRD. Pono A.M. is a holding company
                                    for his investments in socially responsible companies. Pono A.M. allows Joe
                                    to pursue his passion for working with companies that in addition to
                                    traditional bottom lines, also create a social impact.</p>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="user">
                            <img class="img-circle" src="img/team/joe2.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Hello! I am Joe Killinger</h3>
                                <h5>Fun Facts:</h5>
                                <ul style="text-align: justify">
                                    <li>Grew up in a town of 281 people, in Wolbach, Nebraska</li>
                                    <li>Would like to visit the Isle of Man, and fantasizes about racing in the TT </li>
                                    <li>Favorite guilty pleasure is vanilla ice cream with Doritos chips… Really…. Try it, you won’t be sorry</li>
                                    <li>Is an avid Skier, Scuba Diver and Tennis player</li>
                                </ul>
                                <div class="social-links text-center">
                                    <a href="https://www.facebook.com/joe.killinger.5?fref=ts" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="https://twitter.com/JoeKillinger" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    <a href="https://plus.google.com/108092592112421978100/posts" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="https://www.linkedin.com/profile/view?id=142239916&trk=hp-identity-name" class="linkedin"><i class="fa fa-linkedin fa-fw"></i></a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <h5>"If you have to ask me what a Nebraska Cornhusker is, just go away… "</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team Member 2 -->
        <div class="col-md-4">
            <div class="teamCard-container">
                <div class="teamCard">
                    <div class="front">
                        <div class="user">
                            <img class="img-circle" src="img/team/george.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">George Pino</h3>
                                <p class="profession">Co-Founder</p>
                                <p style="text-align: justify">George is the Co-Founder of theRRD. George is currently serving
                                    as the CEO of Commercial Brokers International and is a great source of
                                    guidance on many aspects of the real estate industry. George along with
                                    Joe Killinger, are the founding partners of Pono Asset Management (Pono AM).
                                    Pono AM is a holding company for many of his investments in
                                    socially responsible companies. </p>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="user">
                            <img class="img-circle" src="img/team/george2.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Hello! I am George Pino</h4>
                                <h5>Fun Facts:</h5>
                                <ul style="text-align: justify">
                                    <li>Born in Japan and moved 7 times before he was 10</li>
                                    <li>Favorite place to visit is Hawaii</li>
                                    <li>Is passionate about cooking and trying new recipes, followed only by eating what he has cooked</li>
                                    <li>George’s high school had a student body that was more than 10 times the size of Joe’s hometown</li>
                                </ul>
                                <div class="social-links text-center">
                                    <a href="https://www.facebook.com/georgepinocbi" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="https://twitter.com/GeorgePinoCBI" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    <a href="https://plus.google.com/100657686760503973726/posts" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="https://www.linkedin.com/profile/view?id=23005401&trk=hp-identity-photo" class="linkedin"><i class="fa fa-linkedin fa-fw"></i></a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <h5>"Fight On!"</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team Member 3 -->
        <div class="col-md-4">
            <div class="teamCard-container">
                <div class="teamCard">
                    <div class="front">
                        <div class="user">
                            <img class="img-circle" src="img/team/angie.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Angie Grimes</h3>
                                <p class="profession">COO</p>
                                <p style="text-align: justify">Angie is a technical entrepreneur with a passion for startups.
                                    She is an experienced strategist that oversees business expansion,
                                    product development and client relations. Before joining theRRD,
                                    Angie consulted with several successful e-commerce startups and served
                                    as Co-Founder and COO at SHOEBACCA.com.</p>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="user">
                            <img class="img-circle" src="img/team/angie2.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Hello! I am Angie Grimes</h4>
                                <h5>Fun Facts:</h5>
                                <ul  >
                                    <li>She is an avid fan of technology, live sporting events, camping, fishing and biking</li>
                                    <li>When not at the dog park with her Leonberger, Liam (that literally looks like a brown bear), she can be found spending time with friends and family</li>
                                    <li>Is a new mom and vows to her newborn son Mason to love, nurture and provide just enough dysfunction to make him funny</li>
                                    <li>Actively participates in community involvement from volunteer work, event fundraising to neighborhood clean up</li>
                                </ul>
                                <div class="social-links text-center" style="padding-top: -35px;">
                                    <a href="https://www.facebook.com/angie.grimes3" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="https://twitter.com/Angie3Grimes" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    <a href="https://plus.google.com/111544946583611003760/posts" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="https://www.linkedin.com/profile/view?id=26794017&trk=hp-identity-name" class="linkedin"><i class="fa fa-linkedin fa-fw"></i></a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <h5>"Nothing ventured, nothing gained"</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team Member 4 -->
        <div class="col-md-4">
            <div class="teamCard-container">
                <div class="teamCard">
                    <div class="front">
                        <div class="user">
                            <img class="img-circle" src="img/team/karlon.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Karlon Strathers</h3>
                                <p class="profession">Client Relations Liaison</p>
                                <p style="text-align: justify">A tech savvy professional with a combined 10 years of customer
                                    service and client management experience. Karlon has worked in a cross
                                    section of technology-related industries and thrives on opportunities
                                    to build rapport with clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="user">
                            <img class="img-circle" src="img/team/karlon2.jpg" style="height: 280px; width: 280px;"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Hello! I am Karlon</h4>
                                <h5>Fun Facts:</h5>
                                <ul>
                                    <li>Can recite every line from all of the episodes between 1997 – 2006 for “The Simpsons” cartoon series.</li>
                                    <li>Insane fear of Giant Wasps will invade Texas.</li>
                                    <li>Favorite sport is College Football (Hook ‘em Horns!).</li>
                                    <li>Huge History Buff.</li>
                                </ul>
                                <div class="social-links text-center">
                                    <a href="https://www.facebook.com/karlon.strather" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="https://twitter.com/kstrather" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    <a href="https://plus.google.com/+KarlonStrather" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="https://www.linkedin.com/in/karlonstrather" class="linkedin"><i class="fa fa-linkedin fa-fw"></i></a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <h5>“Chop your own wood and it will warm you twice” – Henry Ford</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team Member 5 -->
        <div class="col-md-4">
            <div class="teamCard-container">
                <div class="teamCard">
                    <div class="front">
                        <div class="user">
                            <img class="img-circle" src="img/team/jaser.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Jaser Akuly</h3>
                                <p class="profession">Web Developer</p>
                                <p style="text-align: justify">Passionate about development and the latest gadgets.
                                    "You can learn something new daily by using the resources around you."
                                    A self-starter who likes to push things to the next level and create an
                                    energetic workplace environment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="user">
                            <img class="img-circle" src="img/team/jaser2.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Hello! I am Jaser Akuly</h4>
                                <h5>Fun Facts:</h5>
                                <ul>
                                    <li>Loves to dance and enjoy music such as Rap, Hip-Hop, House, Deep House, and EDM.</li>
                                    <li>Knows insight knowledge about the latest tech gadgets. </li>
                                    <li>Has danced on stage with Wiz Khalifa and Ty Dolla Sign at a concert in Dallas.</li>
                                    <li>"Jetsetter Virus" which has allowed him to travel to Seattle, Vancouver, Chicago, Los Angeles, Las Vegas, New York, Philadelphia, Orlando, Frankfurt, London, Dubai, Abu Dhabi, Bahrain, Saudi Arabia, and Pakistan.</li>
                                </ul>
                                <div class="social-links text-center">
                                    <a href="https://www.facebook.com/JaserAkuly" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="https://twitter.com/jaserakuly" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    <a href="https://plus.google.com/112312758921110319095" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="https://www.linkedin.com/in/jaserakuly" class="linkedin"><i class="fa fa-linkedin fa-fw"></i></a>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <h5>"Make It Happen."</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team Member 6 -->
        <div class="col-md-4">
            <div class="teamCard-container manual-flip">
                <div class="teamCard">
                    <div class="front">
                        <div class="user">
                            <img class="img-circle" src="img/work-2.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">This Could Be You!</h3>
                                <p class="profession">Marketing Manager</p>
                                <ul>
                                    <li>Team oriented atmosphere</li>
                                    <li>1 block from Highland Park pharmacy for your afternoon Hot Fudge Sundae Fix</li>
                                    <li>3:00 O’clock standing company meeting at Starbucks</li>
                                    <li>Next door Weirs Country Store has 25 cent popcorn and sea salt caramel chocolate</li>
                                </ul>
                            </div>
                            <a href="careers.html"><button style="padding-left: 95px; padding-top: 55px;" class="btn btn-simple">
                                <i class="fa fa-mail-forward"></i> Apply Today!
                            </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Team -->

{{>contact_us}}
