<!-- Top Boxes -->
<div class="divide30"></div>
<div class="container">
    <div class="row">

        <!-- Why theRRD -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="listing listing-radius listing-warning">
                <div class="listing-content">
                    <h4 style="text-align: center; padding-top: 10px"> <i class="fa fa-thumbs-up" style="padding-right: 10px"></i>Why theRRD?</h4>
                    <p style="text-align: justify;">Generated instantly online and are accessible 24/7/365</p>
                </div>
            </div>
        </div>

        <!-- How it Works -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="listing listing-radius listing-warning">
                <div class="listing-content">
                    <h4 style="text-align: center; padding-top: 10px"> <i class="fa fa-lock" style="padding-right: 10px"></i>How It Works</h4>
                    <p style="text-align: justify">All system access is secure, strictly adhering to all of Credit Bureau Guidelines.</p>
                </div>
            </div>
        </div>

        <!-- Features and Benefits -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="listing listing-radius listing-warning">
                <div class="listing-content">
                    <h4 style="text-align: center; padding-top: 10px"> <i class="fa fa-dollar" style="padding-right: 10px"></i>Value</h4>
                    <p style="text-align: justify">Comprehensive product suite with streamlined activity at a more affordable price.</p>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- End of Top Boxes -->

<!-- Video Modal -->
<div class="modal fade" id="video_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Get A Demo Today!</h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/t2Jbf8PguYw"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Video Modal -->

<!-- FAQ Section -->
<div class="divide40"></div>
<div class="container">

    <!-- FAQ According -->
    <div class="panel-group col-lg-6" id="accordion">

        <!-- First Question -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#firstQuestion">
                        1.) I have a couple rental properties. Can I still use your service?
                    </a>
                </h4>
            </div>
            <div id="firstQuestion" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, we offer a special service for part-time landlords and small management companies.
                    Visit our <a href="screening.html#tenant-Screening?slide=1&product=25"> Instant Tenant Screening </a> page for more details.
                </div>
            </div>
        </div>

        <!-- Second Question -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#secondQuestion">
                        2.) I don’t know/can’t remember my password. How can I reset my password?
                    </a>
                </h4>
            </div>
            <div id="secondQuestion" class="panel-collapse collapse">
                <div class="panel-body">
                    Click <a href="#forgotPassword">“Forgot Password?”</a> under login box to reset your password.
                    If you have trouble resetting your password on your own, contact your
                    Client Relations Liaison to reset your password for you.
                </div>
            </div>
        </div>

        <!-- Third Question -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#thirdQuestion">
                        3.) Why do I need to change my password so often?
                    </a>
                </h4>
            </div>
            <div id="thirdQuestion" class="panel-collapse collapse">
                <div class="panel-body">
                    At theRRD we take security very seriously and make every effort to keep consumer information safe.
                    We ask users to change their passwords every 90 days to further safeguard against fraud and identity theft.</div>
            </div>
        </div>

        <!-- Fourth Question -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#fourthQuestion">
                        4.) How do I run a Tenant Screening Report?
                    </a>
                </h4>
            </div>
            <div id="fourthQuestion" class="panel-collapse collapse">
                <div class="panel-body">
                    1.	Login to theRRD.com and click “My Services” tab <br>
                    2.	Under “Tenant Screening” click on the “Quick Application” button <br>
                    3.	Choose property and complete incoming resident’s information <br>
                    4.	Click the “Preview and Run” button <br>
                    5.	After reviewing the information click the “Proceed to Payment button at the bottom of the page <br>
                    6.	Choose what type of report you would like to run (a package or add a la carte products) <br>
                    7.	Enter payment type and application fee amount that you are charging the incoming resident (this is for the property’s records and has not bearing on the report) <br>
                    8.	Click the “Submit” button <br>
                    9.	Return to the “Tenant Screening” tab and refresh the page until a status (pass/alert/warning) appears</div>
            </div>
        </div>

        <!-- Fifth Question -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#fifthQuestion">
                        5.) How do I view and print a Tenant Screening Report?
                    </a>
                </h4>
            </div>
            <div id="fifthQuestion" class="panel-collapse collapse">
                <div class="panel-body">
                    1.	After submitting a “Tenant Screening” refresh the page until a status (pass/alert/warning) appears. Select the green “View” button <br>
                    2.	Select the gray “Full Report” navigation box <br>
                    3.	Click on the “i” button next to each individual report or scroll to the bottom to select the green “Print” button <br>
                    4.	Please Note: When you have co-applicants you will need to repeat the same process for each incoming resident</div>
            </div>
        </div>

        <!-- Sixth Questions -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#sixthQuestion">
                        6.) What is the Fair Credit Reporting Act (FCRA)?
                    </a>
                </h4>
            </div>
            <div id="sixthQuestion" class="panel-collapse collapse">
                <div class="panel-body">
                    <p style="text-align: justify;">The Fair Credit Reporting Act is a federal law that regulates the use and content
                        of credit reports to protect consumer privacy and ensure the accuracy of the information they contain.</p>
                    <p style="text-align: justify;">The FCRA restricts the information that may be included in a credit report,
                        limits who may request a credit report and how the report may be used, and requires credit
                        reporting agencies and those who use credit reports (such as employers and landlords)
                        to follow specified procedures in dealing with consumers.</p>

                    <a href="https://www.therrd.com/main/wp-content/uploads/2013/05/FCRA-Summary-of-Rights.pdf" target="_blank" style="color: #f89101">Click here to view the FCRA Summary of Rights.</a>
                </div>
            </div>
        </div>


    </div>

    <!-- Documentation -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Documentation
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="/pdf/Rent-Rite-Directory-Registration-Form.pdf" target="_blank">Property Registration Form</a></li>
                        <li><a href="/pdf/Rent-Rite-Addendum.pdf" target="_blank">Tenant's Authorization for Adverse Reporting Addendum</a></li>
                        <li><a href="/pdf/Rent-Rite-Addendum-Spanish1.pdf" target="_blank">Tenant's Authorization for Adverse Reporting Addendum (In Spanish)</a></li>
                        <li><a href="/pdf/Applicant-Information-Needed.pdf" target="_blank">Required Information for Tenant Screening Application</a></li>
                        <li><a href="#video_modal" data-toggle="modal" data-target="#video_modal">How do I review invoice(s) and make payment?</a></li>
                        <li><a href="/pdf/inspection-checklist.pdf" target="_blank">Move-In and Move-Out Checklist</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Support -->
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-6">
        <div class="listing listing-radius listing-warning">
            <div class="listing-content">
                <h4 style="text-align: center; padding-top: 10px"> <i class="fa fa-support" style="padding-right: 10px"></i>Support</h4>
                <p style="text-align: justify">theRRD Help and Support provides support for our products. Find solutions for frequently
                    asked questions, popular topics or get support from our Client Relations Representative.</p>
                <a href="/company#contactUsSection" class="btn btn-xs btn-theme-bg center-block">Contact Us</a>
            </div>
        </div>
    </div>

</div>
<!-- End FAQ Section -->

<div class="divide30"></div>
