<!-- Client Logos --->
<div class="divide30"></div>
<div class="container">
    <div class="row">
        <h3 class="heading">Our Clients</h3>
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item-img-wrap"><img src="img/clients/bkroomates.png" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/BR-Rentals-Logo2.jpeg" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/greatlakes-property-management.jpg" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/metrotex-logo.png" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/KOPropertyLogo2.jpg" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/mandalay-apartments.jpg" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/landry-pm.png" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/logo-intrepid.png" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/TPM-header-new.bmp" alt="Owl Image" style="height: 120px; width: 180px;"></div>
            <div class="item-img-wrap"><img src="img/clients/USPR-logo_inc_small.gif" alt="Owl Image" style="height: 120px; width: 180px;"></div>
        </div>
    </div>
</div>
<!-- End of Client Logos -->
