<div class="form-group">
    <label for="findpropertymanagementName">Name</label>
    <input type="text" class="form-control required" id="findpropertymanagementName"
           name="findpropertymanagementName" required="required">
</div>
<div class="form-group">
    <label for="findPropertyManagementEmail">Email</label>
    <input type="email" class="form-control required email" id="findPropertyManagementEmail"
           name="findPropertyManagementEmail" required="required">
</div>
<div class="form-group">
    <label for="findPropertyManagementNumber">Phone Number</label>
    <input type="tel" class="form-control required js-phone-input" id="findPropertyManagementNumber"
           name="findPropertyManagementNumber" required="required">
</div>
<div class="form-group">
    <label for="findPropertyManagementAddress">Property Address</label>
                            <textarea class="form-control required" rows="6" id="findPropertyManagementAddress"
                                      name="findPropertyManagementAddress" required="required"></textarea>
</div>
<div class="form-group">
    <label for="findPropertyManagementNeeds">Tell Us Your Needs</label>
                            <textarea class="form-control required" rows="6" id="findPropertyManagementNeeds"
                                      name="findPropertyManagementNeeds" required="required"></textarea>
</div>

<div class="form-group">
    <label for="propertyType">Property Type</label>

    <select id="propertyType" name="propertyType" class="form-control required" required="required">
        <option disabled selected>--- Please select a type</option>
        <option value="Home and Estate">Home and Estate</option>
        <option value="MultiFamily">MultiFamily</option>
        <option value="Retail">Retail</option>
        <option value="Office">Office</option>
        <option value="Industrial">Industrial</option>
        <option value="Other">Other</option>
    </select>
</div>
