<!-- First Name -->
<div class="span6 unit">
    <label class="label">First Name</label>

    <div class="input">
        <label class="icon-left" for="irFirstName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required" id="irFirstName" name="irFirstName"
               placeholder="e.g John">
    </div>
</div>

<!-- Last Name -->
<div class="span6 unit">
    <label class="label">Last Name</label>

    <div class="input">
        <label class="icon-left" for="irLastName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required" id="irLastName" name="irLastName"
               placeholder="e.g Doe">
    </div>
</div>

<!-- Email -->
<div class="span6 unit">
    <label class="label">Email</label>

    <div class="input">
        <label class="icon-left" for="irEmail">
            <i class="fa fa-envelope-o"></i>
        </label>
        <input type="text" class="required email" id="irEmail" name="irEmail"
               placeholder="e.g John@therrd.com">
    </div>
</div>

<!-- Phone Number -->
<div class="span6 unit">
    <label class="label">Phone</label>

    <div class="input">
        <label class="icon-left" for="irNumber">
            <i class="fa fa-phone"></i>
        </label>
        <input type="text" class="required js-phone-input" placeholder="phone/mobile" id="irNumber"
               name="irNumber">
        <span class="tooltip tooltip-right-top">Your contact phone number</span>
    </div>
</div>

<!-- Property Type -->
<div class="span6">
    <div class="inline-group">
        <label class="label">Property Type</label>
        <label class="radio">
            <input type="radio" class="required" value="Residential" name="irPropertyType" checked="checked">
            <i></i>
            Residential
        </label>
        <label class="radio">
            <input type="radio" class="required" value="Commercial" name="irPropertyType">
            <i></i>
            Commercial
        </label>
    </div>
</div>

<!-- Number of Units -->
<div class="span6 unit">
    <label class="label">Number of Units</label>

    <div class="input">
        <label class="icon-left" for="irUnits">
            <i class="fa fa-home"></i>
        </label>
        <input type="text" class="required" id="irUnits" min="1" max="99999"
               placeholder="e.g. 360"
               name="irUnits">
    </div>
</div>

<!-- start address 1 -->
<div class="span12 unit">
    <label class="label">Address 1</label>

    <div class="input">
        <label class="icon-left" for="irAddress1">
            <i class="fa fa-building-o"></i>
        </label>
        <input type="text" class="required" id="irAddress1"
               placeholder="e.g. 443 Seventh Avenue, 16th Floor"
               name="irAddress1">
    </div>
</div>

<!-- start address 2 -->
<div class="span12 unit">
    <label class="label">Address 2</label>

    <div class="input">
        <label class="icon-left" for="irAddress2">
            <i class="fa fa-building-o"></i>
        </label>
        <input type="text" class="required" id="irAddress2"
               placeholder="e.g. Apartment, suite , unit, building, floor, etc."
               name="irAddress2">
    </div>
</div>

<!-- Zip Code -->
<div class="span4 unit">
    <label class="label">Post code</label>

    <div class="input">
        <label class="icon-left" for="irZip">
            <i class="fa fa-street-view"></i>
        </label>
        <input type="text" class="required digits" id="irZip" placeholder="e.g. 75205" name="irZip">
    </div>
</div>

<!-- City -->
<div class="span4 unit">
    <label class="label">City</label>

    <div class="input">
        <label class="icon-left" for="irCity">
            <i class="fa fa-angle-double-up"></i>
        </label>
        <input type="text" class="required" id="irCity" placeholder="e.g. Dallas" name="irCity">
    </div>
</div>

<!-- State -->
<div class="span4 unit">
    <label class="label">State</label>

    <div class="input">
        <label class="icon-left" for="irState">
            <i class="fa fa-angle-double-down"></i>
        </label>
        <input type="text" class="required" id="irState" placeholder="e.g. Texas" name="irState">
    </div>
</div>

{{#extend 'extra_bottom'}}
    <script src="/bower_components/ziptastic-jquery-plugin/jquery.ziptastic.js"></script>
{{/extend}}

<script>
    $(function () {
        var duration = 200;
        var elements = {
            state: $('#irState'),
            city: $('#irCity'),
            zip: $('#irZip')
        };

        // Initialize the ziptastic and bind to the change of zip code
        elements.zip.ziptastic()
            .on('zipChange', function (evt, country, state, state_short, city, zip) {
                // State
                elements.state.val(state).parent().show(duration);
                // City
                elements.city.val(city).parent().show(duration);
            });
    });
</script>
