<div class="form-group">
    <label for="rentersInsuranceName">Name</label>
    <input type="text" class="form-control required" id="rentersInsuranceName"
           name="rentersInsuranceName" required="required">
</div>
<div class="form-group">
    <label for="rentersInsuranceEmail">Email</label>
    <input type="email" class="form-control required email" id="rentersInsuranceEmail"
           name="rentersInsuranceEmail" required="required">
</div>
<div class="form-group">
    <label for="rentersInsuranceNumber">Phone Number</label>
    <input type="tel" class="form-control required js-phone-input" id="rentersInsuranceNumber"
           name="rentersInsuranceNumber" required="required">
</div>

<div class="form-group">
    <label for="rentersInsuranceSize">What Size?</label>
    <select class="form-control required" id="rentersInsuranceSize"
            name="rentersInsuranceSize" required="required">
        <option value="" disabled selected>--- Please Pick A Subject</option>
        <option value="Studio">Studio</option>
        <option value="1 BD">1 BD</option>
        <option value="2 BD">2 BD</option>
        <option value="3BD">3 BD</option>
        <option value="Other">Other</option>
    </select>
</div>
