<!-- Company Name -->
<div class="span12 unit">
    <label class="label">Company Name</label>

    <div class="input">
        <label class="icon-left" for="esCompanyName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required letterswithbasicpunc" id="esCompanyName" name="esCompanyName"
               placeholder="e.g XYZ Company">
    </div>
</div>

<!-- Email -->
<div class="span12 unit">
    <label class="label">Email</label>

    <div class="input">
        <label class="icon-left" for="esEmail">
            <i class="fa fa-envelope-o"></i>
        </label>
        <input type="text" class="required email" id="esEmail" name="esEmail"
               placeholder="e.g John@therrd.com">
    </div>
</div>

<!-- Phone Number -->
<div class="span12 unit">
    <label class="label">Phone</label>

    <div class="input">
        <label class="icon-left" for="esNumber">
            <i class="fa fa-phone"></i>
        </label>
        <input type="text" class="required js-phone-input" placeholder="phone/mobile" id="esNumber"
               name="esNumber">
        <span class="tooltip tooltip-right-top">Your contact phone number</span>
    </div>
</div>
