<!-- First Name -->
<div class="col-md-6 unit">
    <label class="label">First Name *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingFirstName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required" id="mortgageLendingFirstName" name="mortgageLendingFirstName"
               placeholder="e.g John">
    </div>
</div>

<!-- Last Name -->
<div class="col-md-6 unit">
    <label class="label">Last Name *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingLastName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required" id="mortgageLendingLastName" name="mortgageLendingLastName"
               placeholder="e.g Doe">
    </div>
</div>

<!-- Email -->
<div class="col-md-6 unit">
    <label class="label">Email *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingEmail">
            <i class="fa fa-envelope-o"></i>
        </label>
        <input type="text" class="required email" id="mortgageLendingEmail" name="mortgageLendingEmail"
               placeholder="e.g John@therrd.com">
    </div>
</div>

<!-- Phone Number -->
<div class="col-md-6 unit">
    <label class="label">Phone *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingPhoneNumber">
            <i class="fa fa-phone"></i>
        </label>
        <input type="text" class="required js-phone-input" placeholder="phone/mobile" id="mortgageLendingPhoneNumber"
               name="mortgageLendingPhoneNumber">
        <span class="tooltip tooltip-right-top">Your contact phone number</span>
    </div>
</div>

<!-- Loan Type -->
<div class="col-md-12 unit">
    <label class="label">Please Select A Loan Type *</label>
    <label class="input select">
        <select name="mortgageLendingLoanType" class="required">
            <option value="" selected disabled="">--- Please Select a Subject ---</option>
            <option value="Acquisition">Acquisition</option>
            <option value="Cash Out Refinance">Cash Out Refinance</option>
            <option value="Refinance">Refinance</option>
        </select>
        <i></i>
    </label>
</div>

<!-- Company Name -->
<div class="col-md-12 unit">
    <label class="label">Company Name</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingLastNa">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required letterswithbasicpunc" id="couponCompanyName" name="couponCompanyName"
               placeholder="e.g XYZ Company">
    </div>
</div>

<!-- Company Address 1 -->
<div class="col-md-12 unit">
    <label class="label">Address 1 *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingAddress1">
            <i class="fa fa-building-o"></i>
        </label>
        <input type="text" class="required" id="mortgageLendingAddress1"
               placeholder="e.g. 443 Seventh Avenue, 16th Floor"
               name="mortgageLendingAddress1">
    </div>
</div>

<!-- Company address 2 -->
<div class="col-md-12 unit">
    <label class="label">Address 2</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingAddress2">
            <i class="fa fa-building-o"></i>
        </label>
        <input type="text" id="mortgageLendingAddress2"
               placeholder="e.g. Apartment, suite , unit, building, floor, etc."
               name="mortgageLendingAddress2">
    </div>
</div>

<!-- Zip Code -->
<div class="col-md-4 unit">
    <label class="label">Zip Code *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingZip">
            <i class="fa fa-street-view"></i>
        </label>
        <input type="text" class="required digits" id="mortgageLendingZip" placeholder="e.g. 75205" name="mortgageLendingZip">
    </div>
</div>

<!-- City -->
<div class="col-md-4 unit">
    <label class="label">City *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingCity">
            <i class="fa fa-angle-double-up"></i>
        </label>
        <input type="text" class="required" id="mortgageLendingCity" placeholder="e.g. Dallas" name="mortgageLendingCity">
    </div>
</div>

<!-- State -->
<div class="col-md-4 unit">
    <label class="label">State *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingState">
            <i class="fa fa-angle-double-down"></i>
        </label>
        <input type="text" class="required" id="mortgageLendingState" placeholder="e.g. Texas" name="mortgageLendingState">
    </div>
</div>

<!--Loan Amount -->
<div class="col-md-6 unit">
    <label class="label">Loan Amount *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingLoanAmount">
            <i class="fa fa-dollar"></i>
        </label>
        <input type="text" class="required digits" id="mortgageLendingLoanAmount" name="mortgageLendingLoanAmount"
               placeholder="$1,000,000">
    </div>
</div>

<!--Current Loan Amount -->
<div class="col-md-6 unit">
    <label class="label">Current Loan Amount</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingCurrentLoanAmount">
            <i class="fa fa-dollar"></i>
        </label>
        <input type="text" class="required digits" id="mortgageLendingCurrentLoanAmount" name="mortgageLendingCurrentLoanAmount"
               placeholder="$100,000">
    </div>
</div>

<!-- User Role -->
<div class="col-md-6 unit">
    <label class="label">User Role *</label>
    <label class="input select">
        <select name="mortgageLendingUserRole" class="required">
            <option value="" selected disabled="">--- Please Select a Subject ---</option>
            <option value="Principal">Principal</option>
            <option value="Sales Broker">Sales Broker</option>
            <option value="Mortgage Broker">Mortgage Broker</option>
            <option value="Other">Other</option>
        </select>
        <i></i>
    </label>
</div>

<!-- Property Type -->
<div class="col-md-6 unit">
    <label class="label">Property Type *</label>
    <label class="input select">
        <select name="mortgageLendingPropertyType" class="required">
            <option value="" selected disabled="">--- Please Select a Subject ---</option>
            <option value="Multi-Family">Multi-Family</option>
            <option value="Single Tenant">SingleTenant</option>
            <option value="Retail">Retail</option>
            <option value="Office">Office</option>
            <option value="Hotel">Hotel</option>
            <option value="MHP (Mobile Home Park)">MHP (Mobile Home Park)</option>
            <option value="SBA - Owner User Real Estate">SBA - Owner User Real Estate</option>
        </select>
        <i></i>
    </label>
</div>

<!--Property Value -->
<div class="col-md-6 unit">
    <label class="label">Property Value *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingPropertyValue">
            <i class="fa fa-dollar"></i>
        </label>
        <input type="text" class="required digits" id="mortgageLendingPropertyValue" name="mortgageLendingPropertyValue"
               placeholder="$500,000">
    </div>
</div>

<!--Net Income -->
<div class="col-md-6 unit">
    <label class="label">Property Value *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingNetIncome">
            <i class="fa fa-dollar"></i>
        </label>
        <input type="text" class="required digits" id="mortgageLendingNetIncome" name="mortgageLendingNetIncome"
               placeholder="$750,000">
    </div>
</div>

<!--Amortization -->
<div class="col-md-12 unit">
    <label class="label">Amortization *</label>

    <div class="input">
        <label class="icon-left" for="mortgageLendingAmortization">
            <i class="fa fa-dollar"></i>
        </label>
        <input type="text" class="required digits" min="1" id="mortgageLendingAmortization" name="mortgageLendingAmortization"
               placeholder="25">
    </div>
</div>


<!-- Message -->
<div class="col-md-12 unit">
    <label class="label">Message</label>
    <div class="input">
        <label class="icon-left" for="couponMessage">
            <i class="fa fa-file-text-o"></i>
        </label>
        <textarea class="required" placeholder="your message..." spellcheck="false" id="couponMessage" name="couponMessage"></textarea>
    </div>
</div>

{{#extend 'extra_bottom'}}
    <script src="/bower_components/ziptastic-jquery-plugin/jquery.ziptastic.js"></script>
{{/extend}}

<script>
    $(function () {
        var duration = 200;
        var elements = {
            state: $('#couponCompanyState'),
            city: $('#couponCompanyCity'),
            zip: $('#couponCompanyZip')
        };

        // Initialize the ziptastic and bind to the change of zip code
        elements.zip.ziptastic()
                .on('zipChange', function (evt, country, state, state_short, city, zip) {
                    // State
                    elements.state.val(state).parent().show(duration);
                    // City
                    elements.city.val(city).parent().show(duration);
                });
    });
</script>



