<!-- Buttons -->
{{#if bootstrap}}<br>{{/if}}
<div class="{{#unless bootstrap}}col-md-6 unit{{/unless}}">
    <button type="submit" disabled name="submit" class="btn btn-lg btn-theme-bg" style="width: 100px; margin-right: 15px;">Send</button>
    <button class="btn btn-lg btn-danger" data-dismiss="modal" style="width: 100px;">Close</button>
</div>
