<div class="form-group">
    <label for="onlineCompanyName">Company Name</label>
    <input type="text" class="form-control required" name="onlineCompanyName" id="onlineCompanyName" required="required">
</div>

<div class="form-group">
    <label for="onlineCompanyAddress">Company Address</label>
    <textarea class="form-control required" id="onlineCompanyAddress" name="onlineCompanyAddress" placeholder="555 Street Dr. (Suite/Apt) City State ZipCode" rows="7" required="required"></textarea>
</div>

<div class="form-group">
    <label for="onlineCompanyWebsite">Company Website</label>
    <input type="text" class="form-control required" name="onlineCompanyWebsite" id="onlineCompanyWebsite" required="required">
</div>


<div class="form-group">
    <label for="onlineEmployeeName">Employee Name</label>
    <input type="text" class="form-control required" name="onlineEmployeeName" id="onlineEmployeeName" required="required">
</div>

<div class="form-group">
    <label for="onlineEmployeeNumber">Employee Call Back Phone Number</label>
    <input type="text" class="form-control required js-phone-input" name="onlineEmployeeNumber" id="onlineEmployeeNumber" required="required">
</div>

<div class="form-group">
    <label for="onlineEmployeeEmail">Employee Email</label>
    <input type="text" class="form-control required email" name="onlineEmployeeEmail" id="onlineEmployeeEmail" required="required">
</div>

<div class="form-group">
    <label for="onlineMessage">Message</label>
    <textarea class="form-control required" id="onlineMessage" name="onlineMessage" placeholder="Tell Us About You" rows="4" required="required"></textarea>
</div>
