<div class="form-group">
    <label for="propertyInsuranceName">Name</label>
    <input type="text" class="form-control required" id="propertyInsuranceName"
           name="propertyInsuranceName" required="required">
</div>

<div class="form-group">
    <label for="propertyInsuranceEmail">Email</label>
    <input type="email" class="form-control required email" id="propertyInsuranceEmail"
           name="propertyInsuranceEmail" required="required">
</div>

<div class="form-group">
    <label for="propertyInsuranceNumber">Phone Number</label>
    <input type="tel" class="form-control required js-phone-input" id="propertyInsuranceNumber"
           name="propertyInsuranceNumber" required="required">
</div>

<div class="form-group">
    <label for="propertyTypePI" class="control-label">Property Type</label>
    <select id="propertyTypePI" class="form-control required" name="propertyType" required="required">
        <option value disabled selected>--- Please select a type</option>
        <option value="Commercial">Commercial</option>
        <option value="Residential">Residential</option>
    </select>
</div>

<div class="form-group">
    <label for="propertyInsuranceAddress" class="control-label">Property Address</label>
    <textarea class="form-control required" id="propertyInsuranceAddress"
                name="propertyInsuranceAddress" placeholder="555 Street Dr. (Suite/Apt) City State ZipCode" rows="7"></textarea>
</div>
