<!-- Company Name -->
<div class="span12 unit">
    <label class="label">Company Name</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningCompanyName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required letterswithbasicpunc" id="tenantScreeningCompanyName"
               name="tenantScreeningCompanyName"
               placeholder="e.g XYZ Company">
    </div>
</div>

<!-- Business Entity Type -->
<div class="span12 unit">
    <label class="label">Business
        Entity Type</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningBusinessType">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required letterswithbasicpunc" id="tenantScreeningBusinessType"
               name="tenantScreeningBusinessType"
               placeholder="(I.E. Corporation, LLC,ETC)">
    </div>
</div>

<!--Years in Business -->
<div class="span12 unit">
    <label class="label">Years In Business</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningYears">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" maxlength="255" class="required digits" id="tenantScreeningYears" name="tenantScreeningYears" min="1" max="2000"
               placeholder="e.g. 5">
    </div>
</div>

<!-- Number of Units -->
<div class="span12 unit">
    <label class="label">Number of units Owned/Managed</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningNumberOfUnits">
            <i class="fa fa-briefcase"></i>
        </label>
        <input type="text" class="required digits" id="tenantScreeningNumberOfUnits" min="1" max="99999"
               name="tenantScreeningNumberOfUnits"
               placeholder="e.g. 525">
    </div>
</div>

<!-- First Name -->
<div class="span12 unit">
    <label class="label">First Name</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningFirstName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required" id="tenantScreeningFirstName"
               name="tenantScreeningFirstName"
               placeholder="e.g John">
    </div>
</div>

<!-- Last Name -->
<div class="span12 unit">
    <label class="label">Last Name</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningLastName">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" class="required" id="tenantScreeningLastName"
               name="tenantScreeningLastName"
               placeholder="e.g Doe">
    </div>
</div>

<!-- Email -->
<div class="span12 unit">
    <label class="label">Email</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningEmail">
            <i class="fa fa-envelope-o"></i>
        </label>
        <input type="text" class="required email" id="tenantScreeningEmail" name="tenantScreeningEmail"
               placeholder="e.g John@therrd.com">
    </div>
</div>

<!-- Phone Number -->
<div class="span12 unit">
    <label class="label">Phone</label>

    <div class="input">
        <label class="icon-left" for="tenantScreeningNumber">
            <i class="fa fa-phone"></i>
        </label>
        <input type="text" class="required js-phone-input" placeholder="phone/mobile" id="tenantScreeningNumber"
               name="tenantScreeningNumber">
        <span class="tooltip tooltip-right-top">Your contact phone number</span>
    </div>
</div>
