<div class="form-group">
    <label for="referralFirstName">First Name</label>
    <input type="text" class="form-control required" id="referralFirstName" name="referralFirstName" required="required">
</div>
<div class="form-group">
    <label for="referralLastName">Last Name</label>
    <input type="text" class="form-control required" id="referralLastName" name="referralLastName" required="required">
</div>
<div class="form-group">
    <label for="referralEmail">Email</label>
    <input type="email" class="form-control required email" id="referralEmail" name="referralEmail" required="required">
</div>
<div class="form-group">
    <label for="referralNumber">Phone Number</label>
    <input type="tel" class="form-control required js-phone-input" id="referralNumber" name="referralNumber" required="required">
</div>
<div class="form-group">
    <label for="referralUnit">How Many Units?</label>
    <select class="form-control required" id="referralUnit" name="referralUnit" required="required">
        <option value="" disabled selected>--- Please Select</option>
        <option value="Over 500 Units">Over 500 Units</option>
        <option value="Between 300 and 500 Units">Between 300 and 500 Units</option>
        <option value="Between 150 and 300 Units">Between 150 and 300 Units</option>
        <option value="Between 70 and 150 Units">Between 70 and 150 Units</option>
        <option value="Between 20 and 69 Units">Between 20 and 69 Units</option>
        <option value="Less Than 20 Units, Including Houses/Condos (SFRs)">Less Than 20 Units, Including Houses/Condos (SFRs)</option>
    </select>
</div>
