<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">

<title>{{title}}</title>

<!-- Lib styles -->
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css'>
<link rel='stylesheet' href='/bower_components/owl-carousel/owl-carousel/owl.carousel.css'>
<link rel='stylesheet' href='/bower_components/owl-carousel/owl-carousel/owl.theme.css'>
<link rel='stylesheet' href='/bower_components/WOW/css/libs/animate.css'>

<!-- App styles -->
<link rel='stylesheet' href='/css/style.css'>
<link rel='stylesheet' href='/css/j-forms.css'>
<link rel='stylesheet' href='/css/team-card.css'>
<link rel='stylesheet' href='/css/new.css'>

<!-- Lib js -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/jquery.validation/dist/jquery.validate.min.js"></script>
<script src="/bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=RecaptchaInit&render=explicit'></script>

<script>var recaptcha_public_key = '{{recaptcha_public_key}}';</script>

<!-- App js -->
<script src="/js/validation_setup.js"></script>
