<div class="divide30"></div>

<div class="container">
    <div class="menu-section page-menu">
        <div class="row">
            <div class="col-md-4">
                <a href="/insurance/renters"><i class="fa fa-fw fa-user"></i>Renters Insurance</a>
            </div>
            <div class="col-md-4">
                <a href="/insurance/property"><i class="fa fa-fw fa-building"></i>Property Insurance</a>
            </div>
            <div class="col-md-4">
                <a href="/insurance/liability"><i class="fa fa-fw fa-shield"></i>Liability Insurance</a>
            </div>
        </div>
    </div>
</div>

<div class="divide30"></div>

{{>scripts_page_menu}}
