<div id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Nav Bar Header -->
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/">
                    <img class="default-logo" src="/img/RRD_Logo_White_Orange.png" alt="Logo">
                </a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Nav Bar Content -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <!-- Home Page -->
                <li><a href="/">Home</a></li>

                <!-- Products -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products | Services</a>
                    <div class="dropdown-menu multi-column columns-3">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <h3 class="heading"><i class="fa fa-fw fa-search"></i> Screening</h3>
                                <ul class="multi-column-dropdown">
                                    <li><a href="/screening/tenant"><i class="fa fa-fw fa-search"></i>Tenant Screening</a></li>
                                    <li><a href="/screening/tenant?slide=1&product=25"><i class="fa fa-fw fa-search"></i>Instant Tenant Screening</a></li>
                                    <li><a href="/screening/employment"><i class="fa fa-fw fa-building"></i>Employment Screening</a></li>
                                    <li><a href="/screening/incident"><i class="fa fa-fw fa-file-text-o"></i>Incident Reporting</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <h3 class="heading"><i class="fa fa-fw fa-database"></i> Vendors</h3>
                                <ul class="multi-column-dropdown">
                                    <li><a href="/vendor/guide"><i class="fa fa-fw fa-database"></i>Vendor Guide</a></li>
                                    <li><a href="/vendor/purchase-energy"><i class="fa fa-fw fa-database"></i>Energy Providers</a></li>
                                    <li><a href="/vendor/property-management"><i class="fa fa-fw fa-database"></i>Property Management Referrals</a></li>
                                    <li><a href="/vendor/mortgage-lending"><i class="fa fa-fw fa-dollar"></i>Mortgage Lending</a></li>
                                    <li><a href="/vendor/payment-acceptance"><i class="fa fa-fw fa-dollar"></i>Payment Acceptance Services</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <h3 class="heading"><i class="fa fa-fw fa-shield"></i> Insurance</h3>
                                <ul class="multi-column-dropdown">
                                    <li><a href="/insurance/renters"><i class="fa fa-fw fa-user"></i>Renters Insurance</a></li>
                                    <li><a href="/insurance/property"><i class="fa fa-fw fa-building"></i>Property Insurance</a></li>
                                    <li><a href="/insurance/liability"><i class="fa fa-fw fa-shield"></i>Liability Insurance</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <h3 class="heading"><i class="fa fa-fw fa-building-o"></i> Other Services</h3>
                                <ul class="multi-column-dropdown">
                                    <li><a href="/jobs/search"><i class="fa fa-fw fa-briefcase"></i>Search for Real Estate Jobs</a></li>
                                    <li><a href="/jobs/post"><i class="fa fa-fw fa-briefcase"></i>Post Jobs</a></li>
                                    <li><a href="/residential/rent"><i class="fa fa-fw fa-home"></i>Search Real Estate for Rent </a></li>
                                    <li><a href="/residential/sale"><i class="fa fa-fw fa-home"></i>Search Real Estate for Sale</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Blog -->
                <li><a href="http://blog.therrd.com/">Blog</a></li>

                <!-- Company -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">Company</a>
                    <ul class="dropdown-menu">
                        <li><a href="/company">About Us</a></li>
                        <li><a href="/company#teamSection">Team</a></li>
                        <li><a href="/company#contactUsSection">Contact Us</a></li>
                        <li><a href="/company/careers">Career</a></li>
                        <li><a href="/company/faq">FAQ</a></li>
                        <li><a href="/company/community">Community</a></li>
                        <li class="divider"></li>
                        <li><a href="http://blog.therrd.com/category/company-press/">Press | Media</a></li>
                        <li><a href="/company/affiliate-associations">Affiliates & Associations</a></li>
                    </ul>
                </li>

                <!--Contact Us -->
                <li><a href="/company#contactUsSection">Contact Us</a></li>

                <!-- Sign In -->
                <!--<li><script id="rrd_embed_script" type="text/javascript" src="https://app.therrd.com/auth/login-js"></script></li>-->
                <li><a href="" style="color: green;">Login</a></li>
            </ul>
        </div>

    </div>
</div>
