<div class="divide30"></div>

<div class="container">
    <div class="menu-section page-menu">
        <div class="row">
            <div class="col-md-4">
                <a href="/screening/tenant"><i class="fa fa-fw fa-user"></i>Tenant Screening </a>
            </div>

            <div class="col-md-4">
                <a href="/screening/employment"><i class="fa fa-fw fa-building"></i>Employment Screening</a>
            </div>
            <div class="col-md-4">
                <a href="/screening/incident"><i class="fa fa-fw fa-file-text-o"></i>Incident Reporting</a>
            </div>
        </div>
    </div>
</div>

<div class="divide30"></div>

{{>scripts_page_menu}}
