<div class="purchase-section2">
    <div class="row">
        <div class="col-md-9">
            <h3 style="font-size: 20px;">Want To Create Your Own Package?</h3>
        </div>
        <div class="col-md-3">
            <button data-toggle="modal" data-target="#TSCreatePackage" class="btn btn-sm btn-theme-bg">Get A Quote Today!</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
