<div style="margin: 20px 0 15px 0;">
    <a href="/pdf/Tenant%20Screening%20Report%20-%20Tier%202.pdf" target="_blank"
       class="btn btn-xs btn-theme-bg center-block"><i class="fa fa-file-o" style="padding-right: 5px;"></i>View Sample Report</a>
</div>

<h4 style="text-align: center; margin: 20px 0 10px 0;">Membership Package Information:</h4>

<p style="text-align: justify; font-size: small; margin-bottom: 0;">No matter how many units you manage,
    you get the same level of service. theRRD offers a range of membership options, providing the distinct
    level of service and options your company demands. Our flexible plans have no long term contracts, no user limits
    and our pay-as-you-go model allows you to pay only for what you use monthly.
    <br><br>
    Each month you will start out at our Base Package of $34.99 and based on the number of transactions
    that occur you will move up to the next package offering more value. We don't like surprises
    any more than you do, so if you want to use some additional features that are outside of the plan
    that you end up with over the course of the month there will be additional charges.</p>
