<!-- Instant Screening Package -->
<div id="Product25">
    <div class="divide30"></div>

    <div class="row">
        <div class="col-md-5">
            <div class="naran-pricing">
                <div class="narani-price-title popular-title">
                    <h2><sup>$</sup>25.00<sub>/Per Transaction</sub></h2>

                    <h3 style="margin-top: -30px; color: #05AE0E">Instant Tenant Screening</h3>
                </div>
                <div class="narani-price-ITScontent">
                    <p style="font-size: 16px;">Summary Credit, Criminal and Rental Report</p>
                </div>
                <div class="naran-pricing-btn">
                    <a href="https://app.therrd.com/registration/instant-signup" target="_blank"
                       class="btn btn-theme-bg btn-lg">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <h3 style="text-align: center; padding-top: -5px"><i style="padding-right: 10px"></i>Instant Tenant Screening</h3>

            <p style="text-align: justify;">Instant Tenant Screening is for landlords, owners, brokers
                and real estate agents. This product allows real estate professionals to gain immediate
                access to a summary credit, criminal background check and rental history report on
                prospective tenants,
                while still remaining complaint with the Fair Credit Reporting
                Act.</p>

            <p>By creating an account and filling out your prospective tenant's information you will
                gain immediate access to credit, criminal and incident rental history in minutes.</p>


            <div class="listing listing-radius listing-warning" style="border-color: #2b9f1e;">
                <div class="listing-content">
                    <h4 style="text-align: center; padding-top: 10px"><i class="fa fa-cloud" style="padding-right: 10px"></i>Sample Reporting</h4>

                    <p style="text-align: center;">Download a Sample Report Today!</p>
                    <a href="/pdf/Instant_Tenant_Screening_Summary.pdf" target="_blank"
                       class="btn btn-xs btn-theme-bg center-block">View Sample Report</a>
                </div>
            </div>
        </div>
    </div>
</div>
