<!-- Product 12 -->
<div id="Product12">
    <div class="divide30"></div>

    <div class="row">
        <div class="col-md-5">
            <div class="naran-pricing">
                <div class="narani-price-title popular-title">
                    <h2>2000+ Units</h2>

                    <p style="font-size: 12px;">*credit access requires one-time onsite
                        inspection</p>
                </div>
                <div class="naran-pricing-btn" style="margin-top: 2px;">
                    <button data-toggle="modal" data-target="#requestScreeningInfo"
                            class="btn btn-lg btn-theme-bg">Get A Quote
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            {{>ts_custom_package}}
            {{>ts_membership_info}}
        </div>
    </div>
</div>
