<!-- Product 8 -->
<div id="Product8">
    <div class="divide30"></div>

    <div class="row">
        <div class="col-md-5">
            <div class="naran-pricing">
                <div class="narani-price-title popular-title">
                    <h2><sup>$</sup>1449.99<sub>/mo</sub></h2>

                    <h3 style="margin-top: -30px; color: #05AE0E">Tier 8</h3>

                    <p style="font-size: 12px;">50-59 transactions<br>
                        *credit access requires one-time onsite inspection</p>
                </div>
                <div class="narani-price-content">
                    <p><a href="#0" class="cd-btn">Incident Reporting</a></p>

                    <p><a href="#0" class="cd-btn2">TransUnion Credit Report + FICO Score</a></p>

                    <p><a href="#0" class="cd-btn3">Social Security Number Validation</a></p>

                    <p><a href="#0" class="cd-btn4">Bankruptcy Report</a></p>

                    <p><a href="#0" class="cd-btn5">National Criminal Records Search</a></p>

                    <p><a href="#0" class="cd-btn6">Evictions, Liens and Judgment Report</a></p>

                    <p><a href="#0" class="cd-btn7">Identification Verification</a></p>

                    <p><a href="#0" class="cd-btn8">OFAC Patriot Act Search</a></p>

                    <p><a href="#0" class="cd-btn9">Sex Offender Registry Search</a></p>

                    <p><a href="#0" class="cd-btn10">Experian Credit Report</a></p>

                    <p><a href="#0" class="cd-btn11">6 Property Listing</a></p>

                    <p><a href="#0" class="cd-btn12">5 Employment Posting</a></p>

                    <p><a href="#0" class="cd-btn13">4 Pre-Employment Standard Screening</a></p>
                </div>
                <div class="naran-pricing-btn">
                    <button data-toggle="modal" data-target="#requestScreeningInfo"
                            class="btn btn-lg btn-theme-bg">Get More Info
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-7">

            <div class="listing listing-radius listing-warning"
                 style="border-color: #2b9f1e; margin-top: 1px;">
                <div class="listing-content">
                    <h4 style="text-align: center; padding-top: 5px; font-size: 18px;">This package
                        includes <span style="font-weight: bold; color: #2b9f1e"><span
                                style="font-weight: bold; color: #2b9f1e">Base</span></span> + the
                        following:</h4>

                    <p style="text-align: center;">New Products & Services</p>
                    <ul class="col-md-6" style="font-size: small;">
                        <li><a href="#0" class="cd-btn6">Evictions, Liens and Judgment Report</a>
                        </li>
                        <li><a href="#0" class="cd-btn8">OFAC Patriot Act Search</a></li>
                        <li><a href="#0" class="cd-btn10">Experian Credit Report</a></li>
                        <li><a href="#0" class="cd-btn12"><span
                                style="font-weight: bold; color: #2b9f1e">5</span> Employment
                            Posting</a></li>
                    </ul>
                    <ul class="col-md-6">
                        <li><a href="#0" class="cd-btn7">Identification Verification</a></li>
                        <li><a href="#0" class="cd-btn9">Sex Offender Registry Search</a></li>
                        <li><a href="#0" class="cd-btn11"><span
                                style="font-weight: bold; color: #2b9f1e">6</span> Property Listing</a>
                        </li>
                        <li><a href="#0" class="cd-btn13"><span
                                style="font-weight: bold; color: #2b9f1e">4</span> Pre-Employment
                            Standard Screening</a></li>
                    </ul>
                </div>
            </div>

            {{>ts_membership_info}}
        </div>
    </div>


    <div class="divide30"></div>
    {{>ts_custom_package}}
</div>
