<!-- Base Package -->
<div id="Product26">
    <div class="divide30"></div>

    <div class="row">

        <div class="col-md-5">
            <div class="naran-pricing">
                <div class="narani-price-title popular-title">
                    <h2><sup>$</sup>34.99<sub>/mo</sub></h2>


                    <h3 style="margin-top: -30px; color: #05AE0E">Base</h3>

                    <p style="font-size: 12px;">1-3 transactions<br>
                                        <span style="color: #f89101; font-style: italic; font-size: larger;">As low <span
                                                style="font-weight: bold;">$11.66</span> per transaction</span>
                        <br> *credit access requires one-time onsite inspection</p>
                </div>
                <div class="narani-price-content">
                    <p><a href="#0" class="cd-btn">Incident Reporting</a></p>

                    <p><a href="#0" class="cd-btn2">TransUnion Credit Report + FICO Score</a></p>

                    <p><a href="#0" class="cd-btn3">Social Security Number Validation</a></p>

                    <p><a href="#0" class="cd-btn4">Bankruptcy Report</a></p>

                    <p><a href="#0" class="cd-btn5">National Criminal Records Search</a></p>

                </div>
                <div class="naran-pricing-btn">
                    <button data-toggle="modal" data-target="#requestScreeningInfo"
                            class="btn btn-lg btn-theme-bg">Get More Info
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            {{>ts_custom_package}}
            {{>ts_membership_info}}
        </div>
    </div>
</div>
