<!-- Incident Reporting Panel -->
<div id="IRPanel" class="cd-panel from-right">
    <header class="cd-panel-header">
        <h1>Incident Reporting</h1>
        <a href="#0" class="cd-panel-close">Close</a>
    </header>

    <div class="cd-panel-container">
        <div class="cd-panel-content">

            <p>theRRD offers FREE incident reporting for landlords, property managers, property owners and real
                estate
                agents. Our proprietary system allows for tracking and recording of leasing incidents and
                violations
                that occur on the property. With theRRD you can track and view skips, evictions, criminal
                activity,
                nonpayment of rent, unauthorized tenants (proxy renters) and damages to property.</p>

            <p>Incidents are searchable by first or last name, last 4 digits of SSN, drivers license number,
                consulate
                matricula ID, state ID, license plate and birth date. This is a service that provides real time
                communication between you and other properties to help keep your property at a higher occupancy
                with
                better quality tenants.</p>

            <p>Due to theRRD being viewed as a credit reporting agency by the federal government, we do not
                tolerate
                blacklisting of tenants. No dollar amounts are allowed in our database and real estate
                professionals
                must have a permissible purpose and be approved to input and search incidences.</p>

            <p>There is a dispute process for anyone who believes that they have been wrongly input into our
                system.
                Our
                registered members are equipped with an addendum to their lease in their welcome packet, that
                every
                new
                resident will sign. This provides them notification that if a tenant violates any terms of their
                lease
                they may be added to our system. <a style="color:#f79100" href="dispute-process.html"
                                                    target="_blank">Click
                    here to begin a dispute process.</a></p>

        </div>
    </div>
</div>

<!-- TransUnion Credit Report + FICO Score Panel -->
<div id="TransUnionPanel" class="cd-panel2 from-right">
    <header class="cd-panel2-header">
        <h1>TransUnion Credit Report + FICO Score</h1>
        <a href="#0" class="cd-panel2-close">Close</a>
    </header>

    <div class="cd-panel2-container">
        <div class="cd-panel2-content">

            <p>Our full consumer credit report, provided by TransUnion - one of the three major credit bureaus -
                accurately assesses your risk in dealing with potential tenants. The report is based on monthly
                updates
                from creditors – including banks, credit card companies, mortgage companies, retailers, student
                loan
                providers, auto dealerships/finance companies and more – and public records, such as
                bankruptcies,
                tax
                liens, and civil judgments. This tenant credit report includes a FICO credit risk score, which
                offers
                valuable insight into a potential tenant's financial responsibility. The best indicator of a
                tenant's
                future behavior is their past behavior and our tenant screening credit reports are an excellent
                source
                for this information.</p>
        </div>
    </div>
</div>

<!-- Social Security Number Validation -->
<div id="SSNPanel" class="cd-panel3 from-right">
    <header class="cd-panel3-header">
        <h1>Social Security Number Validation</h1>
        <a href="#0" class="cd-panel3-close">Close</a>
    </header>

    <div class="cd-panel3-container">
        <div class="cd-panel3-content">

            <p>A SSN validation is simple, but extremely important when screening a prospective tenant. For one,
                it
                protects you against individuals trying to hide their real identities because of a spotty
                history.
                It
                also helps to know that a person is who they say they are.</p>
        </div>
    </div>
</div>

<!-- Bankruptcy Report -->
<div id="BankruptcyPanel" class="cd-panel4 from-right">
    <header class="cd-panel4-header">
        <h1>Bankruptcy Report</h1>
        <a href="#0" class="cd-panel4-close">Close</a>
    </header>

    <div class="cd-panel4-container">
        <div class="cd-panel4-content">

            <p>It's possible that a bankruptcy may not show up on a credit report, thus limiting the big picture
                about
                the prospective tenant when using just a credit report. Our bankruptcy report provides the most
                current
                search nationwide for bankruptcy filings on a person, within just two days of a filing. A
                bankruptcy
                may
                be an indicator of poor management and decision making on the part of your prospective
                tenant.</p>
        </div>
    </div>
</div>

<!-- National Criminal Records Search -->
<div id="NationalCriminalPanel" class="cd-panel5 from-right">
    <header class="cd-panel5-header">
        <h1>National Criminal Records Search</h1>
        <a href="#0" class="cd-panel5-close">Close</a>
    </header>

    <div class="cd-panel5-container">
        <div class="cd-panel5-content">
            <p>A criminal records check is one of the most important ways to keep your community safe when
                evaluating
                prospective tenants. You can't tell if an applicant has a criminal history just by looking at
                them.
                We
                can provide you with a selection of robust criminal record searches and reports to help
                companies
                identify undesirable applicants with risky criminal behavior. This report is the most
                comprehensive
                online criminal database available and is comprised of data from court records, Department of
                Correction
                records and law enforcement records.</p>

            <p>If you need more thorough and up-to-date information, you can obtain background screening reports
                for
                information such as felonies, misdemeanors, sex offenses, convictions, traffic violations, and
                incarcerations by using our manual background screening reports which comes directly from state
                and
                county databases searched by court researchers. Our manual background screening reports are one
                of
                the
                most current and reliable sources for criminal background screening data.</p>

        </div>
    </div>
</div>

<!-- Evictions, Liens and Judgment Report -->
<div id="EvictionsPanel" class="cd-panel6 from-right">
    <header class="cd-panel6-header">
        <h1>Evictions, Liens and Judgment Report</h1>
        <a href="#0" class="cd-panel6-close">Close</a>
    </header>

    <div class="cd-panel6-container">
        <div class="cd-panel6-content">
            <p>An eviction record can provide meaningful information about the prospective tenant. Search
                millions
                of
                public records for eviction filings, liens, civil suits, and judgments. The Evictions, Liens and
                Judgment Report is used as a complement to a credit report but can also give a very good
                snapshot of
                your prospective tenant when little credit history is known. This eviction report supports all
                50
                states.</p>
        </div>
    </div>
</div>

<!-- Identification Verification -->
<div id="IdentificationPanel" class="cd-panel7 from-right">
    <header class="cd-panel7-header">
        <h1>Identification Verification</h1>
        <a href="#0" class="cd-panel7-close">Close</a>
    </header>

    <div class="cd-panel7-container">
        <div class="cd-panel7-content">
            <p>Use Identification Verification as part of your due diligence to help you confirm that your
                applicants
                have provided valid identity information. This empowers you to run your business securely and
                profitably.</p>

            <p>The information provided by your applicant will be compared to several data sources. These
                databases
                will
                be used as a part of the ID verification and scoring algorithm. The Social Security
                Administration’s
                Death Master File is checked, SSN Validation is performed, the applicant's address is validated
                and
                the
                consumer is checked against the OFAC WatchList. This process produces an easy to interpret score
                that
                ranges from 400 to 800. The closer the score is to 400, the more likely the applicant is a risk
                of
                fraud.</p>
        </div>
    </div>
</div>

<!-- OFAC Patriot Act Search -->
<div id="OFACPanel" class="cd-panel8 from-right">
    <header class="cd-panel8-header">
        <h1>OFAC Patriot Act Search</h1>
        <a href="#0" class="cd-panel8-close">Close</a>
    </header>

    <div class="cd-panel8-container">
        <div class="cd-panel8-content">
            <p>The OFAC Search confirms whether your applicant is on the criminals and terrorists watch lists of
                collected from databases around the world. This reporting should be requested if you are in the
                process
                of performing screening for a prospective tenant.</p>

            <p>This reporting provides comprehensive search of the following:</p>
            <ul style="color: white;">
                <li>Australian Department of Foreign Affairs and Trade (DFAT)</li>
                <li>Bank of England Consolidated List of Financial Sanctions</li>
                <li>Bureau of Industry and Security</li>
                <li>OSFI Terrorism Financing</li>
                <li>DTC Debarred parties</li>
                <li>European Union Consolidated List</li>
                <li>FBI Hijack Suspects</li>
                <li>FBI Most Wanted</li>
                <li>FBI Most Wanted Terrorists</li>
                <li>FBI Seeking Information</li>
                <li>FBI Top Ten Most Wanted</li>
                <li>HKMA</li>
                <li>Interpol Most Wanted</li>
                <li>United Nations Consolidated List</li>
                <li>Terrorist Exclusion List</li>
                <li>Unauthorized Banks</li>
                <li>MAS</li>
                <li>Non-cooperative Countries and Territories</li>
                <li>Non-proliferation</li>
                <li>OFAC Sanctions Programs and Countries</li>
                <li>OFAC's Specially Designated Nationals & Blocked Persons</li>
                <li>Politically Exposed Persons</li>
                <li>Primary Money Laundering Concern (PMLC)</li>
                <li>World Bank Debarred Parties</li>

            </ul>
        </div>
    </div>
</div>

<!-- Sex Offender Registry Search -->
<div id="OffenderRegistryPanel" class="cd-panel9 from-right">
    <header class="cd-panel9-header">
        <h1>Sex Offender Registry Search</h1>
        <a href="#0" class="cd-panel9-close">Close</a>
    </header>

    <div class="cd-panel9-container">
        <div class="cd-panel9-content">
            <p>More than 500,000 sex offenders in state and national registries have been convicted of sexual
                offenses
                and violent crimes. Performing a thorough background check on applicants should always include a
                sex
                offender registry check. This helps reduce the risk of violence and potential litigation in your
                community.</p>
        </div>
    </div>
</div>

<!-- Experian Credit Report -->
<div id="ExperianPanel" class="cd-panel10 from-right">
    <header class="cd-panel10-header">
        <h1>Experian Credit Report</h1>
        <a href="#0" class="cd-panel10-close">Close</a>
    </header>

    <div class="cd-panel10-container">
        <div class="cd-panel10-content">
            <p>Our full consumer credit report, provided by Experian - one of the three major credit bureaus -
                accurately assesses your risk in dealing with potential tenants. The report is based on monthly
                updates
                from creditors – including banks, credit card companies, mortgage companies, retailers, student
                loan
                providers, auto dealerships/finance companies and more – and public records, such as
                bankruptcies,
                tax
                liens, and civil judgments. The best indicator of a tenant's future behavior is their past
                behavior
                and
                our tenant screening credit reports are an excellent source for this information.</p>
        </div>
    </div>
</div>

<!-- X Number Of Property Listing -->
<div id="XPropertyListingPanel" class="cd-panel11 from-right">
    <header class="cd-panel11-header">
        <h1>Property Listing</h1>
        <a href="#0" class="cd-panel11-close">Close</a>
    </header>

    <div class="cd-panel11-container">
        <div class="cd-panel11-content">
            <p>Post your own advertisement to rent or sell your property for free to our national database of
                available
                properties with no restrictions.</p>
        </div>
    </div>
</div>

<!-- X Employment Posting -->
<div id="XEmploymentPostingPanel" class="cd-panel12 from-right">
    <header class="cd-panel12-header">
        <h1>Employment Posting</h1>
        <a href="#0" class="cd-panel12-close">Close</a>
    </header>

    <div class="cd-panel12-container">
        <div class="cd-panel12-content">
            <p>List your own advertisement for available positions within your organization for free to our
                national
                database of available jobs with no restrictions.</p>

            <p>Posting jobs on our network expands your recruitment reach and attracts qualified candidates
                nationwide.
                Job seekers use zip codes and keywords to find jobs in their area. This ensures your job shows
                up on
                the
                top of the list in the most relevant searches; no need to repost or refresh your posting.</p>
        </div>
    </div>
</div>

<!-- Pre-Employment Standard Screening -->
<div id="employeeStandardScreening" class="cd-panel13 from-right">
    <header class="cd-panel13-header">
        <h1>Pre-Employment Standard Screening</h1>
        <a href="#0" class="cd-panel13-close">Close</a>
    </header>

    <div class="cd-panel13-container">
        <div class="cd-panel13-content">
            <!-- Standard Package -->
            <div class="col-lg-12">
                <div class="naran-pricing">
                    <div class="narani-price-title popular-title">
                        <h2><sup>$</sup>25<sub>/Per Transaction</sub></h2>

                        <h3>Standard</h3>
                    </div>
                    <div class="narani-price-Econtent">
                        <p>Employment Credit Report TransUnion</p>

                        <p>National Criminal Records Search</p>

                        <p>Sex Offender Registry Search</p>

                        <p>OFAC Patriot Act Search</p>

                        <p>Identification Verification</p>
                    </div>
                    <div class="naran-pricing-btn">
                        <button data-toggle="modal" data-target="#requestEmployeeScreeningInfo"
                                class="btn btn-lg btn-theme-bg">Get More Info
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
