<div class="divide30"></div>

<div class="container">
    <div class="menu-section page-menu">
        <div class="row">
            <div class="col-md-6">
                <a href="/vendor/guide"><i class="fa fa-fw fa-database"></i>Vendor Guide</a>
                <a href="/vendor/purchase-energy"><i class="fa fa-fw fa-database"></i>Energy Providers</a>
                <a href="/vendor/property-management"><i class="fa fa-fw fa-database"></i>Property Management Referrals</a>
            </div>
            <div class="col-md-6">
                <a href="/vendor/mortgage-lending"><i class="fa fa-fw fa-dollar"></i>Mortgage Lending</a>
                <a href="/vendor/payment-acceptance"><i class="fa fa-fw fa-dollar"></i>Payment Acceptance Services</a>
            </div>
        </div>
    </div>
</div>

<div class="divide30"></div>

{{>scripts_page_menu}}
