{{>screening_menu}}

<div class="container">
    <h3 class="heading">Employment Screening Packages</h3>

    <div class="row">
        <div class="col-md-6">
            <p>The bottom line is that you want to ensure that every employee you hire is of high
                quality and the best fit for your company. You also are looking to avoid wasted costs in
                salary, labor, training, and lost business by hiring someone that doesn't fit your business
                model. Our pre-employment screening services along with a strong interview process can help
                you ensure that the employee you're hiring is the best choice for your company.
                <br><br>
                Our employment screening services are completely 100% customizable. Select only the
                services you need, when you need them. We also showcase our most popular package for
                you below. In any case we'll help you to find the best combination of products and
                services to fit your individual needs.</p>

            <div class="listing listing-radius listing-warning">
                <div class="listing-content">
                    <h4 style="text-align: center; padding-top: 10px">
                        <i class="fa fa-cloud" style="padding-right: 10px"></i>Sample Reporting</h4>

                    <p style="text-align: justify">Download a sample reporting.</p>
                    <a href="/pdf/Employment%20Screening%20-%20Report.pdf" target="_blank"
                       class="btn btn-xs btn-theme-bg center-block">View Sample Report</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            {{>screening_benefits}}
        </div>
    </div>

    <div class="divide40"></div>

    <div class="row">
        <div class="col-lg-8">
            <div class="naran-pricing">
                <div class="narani-price-title popular-title">
                    <h2><sup>$</sup>25<sub>/Per Transaction</sub></h2>

                    <h3>Standard</h3>
                </div>
                <div class="narani-price-content">
                    <p>Employment Credit Report TransUnion</p>

                    <p>National Criminal Records Search</p>

                    <p>Sex Offender Registry Search</p>

                    <p>OFAC Patriot Act Search</p>

                    <p>Identification Verification</p>
                </div>
                <div class="naran-pricing-btn">
                    <button data-toggle="modal" data-target="#requestEmployeeScreeningInfo"
                            class="btn btn-lg btn-theme-bg">Get More Info</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 margin20">
            <div class="service-box">
                <h4><i style="color: #f89101" class="fa fa-shopping-cart"></i> A La Carte</h4>
                <ul>
                    <li>Employment Postings</li>
                    <li>Employment History Verification</li>
                    <li>Education Verification</li>
                    <li>Manual County Criminal Records Search (plus applicable court fees $5 -
                        $72)
                    </li>
                    <li>Manual State Criminal Records Search (plus applicable court fees $5 -
                        $72)
                    </li>
                    <li>Motor Vehicle Records (MVR) Background Check</li>
                    <li>Identification Verification</li>
                    <li>OFAC Patriot Act Search</li>
                    <li>Sex Offender Registry Search</li>
                    <li>National Criminal Records Search</li>
                    <li>Employment Credit Report TransUnion</li>
                </ul>
            </div>
        </div>
    </div>
</div>
