{{>screening_menu}}

<div class="container">
    <h3 class="heading">Incident Reporting</h3>

    <div class="purchase-section">
        <div class="row">
            <div class="col-md-9">
                <h3>Sign Up Today To Access FREE Incident Reporting</h3>
            </div>
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#requestIncidentInfo"
                        class="btn btn-lg btn-theme-bg">Sign Up Today!</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide50"></div>

    <div class="row">
        <div class="col-md-8">
            <p>theRRD offers FREE incident reporting for landlords, property managers, property
                owners and real estate agents. Our proprietary system allows for tracking and recording of
                leasing incidents and violations that occur on the property. With theRRD you can track and
                view skips, evictions, criminal activity, nonpayment of rent, unauthorized tenants (proxy
                renters) and damages to property.
                <br><br>
                Incidents are searchable by first or last name, last 4 digits of SSN, drivers
                license number, consulate matricula ID, state ID, license plate and birth date. This is a
                service that provides real time communication between you and other properties to help keep
                your property at a higher occupancy with better quality tenants.
                <br><br>
                Due to theRRD being viewed as a credit reporting agency by the federal government,
                we do not tolerate blacklisting of tenants. No dollar amounts are allowed in our
                database and real estate professionals must have a permissible purpose and be approved to
                input and search incidences.
                <br><br>
                We are Fair Credit Reporting Act Compliant and there is a dispute process for
                anyone who believes that they have been wrongly input into our system Our registered
                members are equipped with an addendum to their lease in their welcome packet, that every new
                resident will sign. This provides them notification that if a tenant violates any terms of
                their lease they may be added to our system. <a href="/legal/dispute-process">Click here</a>
                to begin a dispute process.</p>
        </div>

        <div class="col-md-4">
            {{>screening_benefits}}
        </div>
    </div>
</div>
