<div class="divide40"></div>

<div class="container">
    <div class="purchase-section wow animated fadeInUp">
        <div class="row">
            <div class="col-md-9">
                <h3>Post your own advertisement to rent or lease your property for free to our national database of available properties with no restrictions.</h3>
                <p>Posting property rentals on our network expands your reach to attract qualified tenants nationwide.
                    Prospective tenants use zip codes and keywords to find rentals and leases in their area.
                    This ensures your rentals and leases show up on the top of the list in the most relevant searches;
                    no need to repost or refresh your posting.</p>
            </div>

            <div class="col-md-3">
                <a class="btn btn-lg btn-theme-bg" href="https://app.therrd.com/registration/signup?registration=12" target="_blank">Want to post your listing?</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide50"></div>

    <input type="hidden" id="inject-url-rrd" value="https://app.therrd.com/inject/script?injectcw=j7oa5ttby0afatao7uwojtfzlyzrbh&lswitch=english" />
    <script type="text/javascript" src="https://app.therrd.com/www/default/js/script-generator.js" id="injectj7oa5ttby0afatao7uwojtfzlyzrbh"></script>
</div>
