<div class="divide40"></div>

<div class="container">
    <div class="purchase-section wow animated fadeInUp">
        <div class="row">
            <div class="col-md-9">
                <h3>Post your own advertisement to sell your property for free to our national database of available properties with no restrictions.</h3>
                <p>Posting properties for sale on our network expands your reach to attract qualified buyers nationwide.
                    Prospective buyers use zip codes and keywords to find properties for sale in their area.
                    This ensures your properties for sale show up on the top of the list in the most relevant searches;
                    no need to repost or refresh your posting.</p>
            </div>

            <div class="col-md-3">
                <a class="btn btn-lg btn-theme-bg" href="https://app.therrd.com/registration/signup?registration=13" target="_blank">Post Your Listing Today</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide50"></div>

    <input type="hidden" id="inject-url-rrd" value="https://app.therrd.com/inject/script?injectcw=60aw29vo54z3xje2mt51xz0qqcvuzw6&lswitch=english" />
    <script type="text/javascript" src="https://app.therrd.com/www/default/js/script-generator.js" id="inject60aw29vo54z3xje2mt51xz0qqcvuzw6"></script>
</div>
