<div class="divide40"></div>

<div class="container">

    <h3 class="heading">Job Posting for the Real Estate Industry</h3>

    <div class="purchase-section wow animated fadeInUp">
        <div class="row">
            <div class="col-md-9">
                <h3>Post A Job Today</h3>
                <p>Anyone working in the Real Estate Industry or a related field is welcome to post jobs
                    on our website to target and get high quality real estate professionals looking for work.</p>
            </div>
            <div class="col-md-3">
                <a href="https://app.therrd.com/registration/signup?registration=10" target="_blank" class="btn btn-lg btn-theme-bg">Post A Job Today!</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide40"></div>

    <div class="row">

        <div class="col-lg-6">
            <div class="embed-responsive embed-responsive-16by9 wow animated fadeInLeft">
                <iframe src="https://www.youtube.com/embed/iQKERUG4tWs"></iframe>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="wow animated fadeInRight">
                <ul>
                    <li>Property Management </li>
                    <li>Commercial and/or Residential Agents </li>
                    <li>Assistants/Transaction Coordinators </li>
                    <li>Escrow and Title </li>
                    <li>Real Estate Executives </li>
                    <li>Marketing Professionals </li>
                    <li>Insurance Agents </li>
                    <li>and more!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
