<div class="container">
    <div class="divide30"></div>

    <h3 class="heading">Search Jobs</h3>

    <div class="divide30"></div>

    <div class="purchase-section wow animated fadeInUp">
        <div class="row">
            <div class="col-md-9">
                <h3>Post Your Resume Today</h3>
                <p>Anyone working in the Real Estate Industry or a related field is welcome to post your
                    resume on our website. Employers will be able to find you without even applying to a job.</p>
            </div>
            <div class="col-md-3">
                <a href="https://app.therrd.com/registration/basic-signup" target="_blank" class="btn btn-lg btn-theme-bg">Sign Up to Add Resume Today</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="divide30"></div>

    <input type="hidden" id="inject-url-rrd" value="https://app.therrd.com/inject/script?injectcw=asdfg12345&lswitch=english&nonapp=true" />
    <script type="text/javascript" src="https://app.therrd.com/www/default/js/script-generator.js" id="injectasdfg12345"></script>
</div>
