<div class="divide40"></div>

<div class="container">
    <p>In order to comply with the
        <a href="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/fair-credit-reporting-act" target="_blank">Fair Credit Reporting Act (FCRA)</a>,
        theRRD provides an adverse action letter accompanying any report. As the Federal Government views
        theRRD as a Credit Reporting Agency (CRA) we are able to assist applicants who wish to dispute
        the information in their incident and screening reports.</p>

    <h3 class="heading">Request your Consumer Report</h3>

    <p>theRRD maintains consumer databases and permit each consumer to obtain one free copy of their own
        consumer report from our databases per year, a free copy of their own consumer report upon each
        adverse action taken, which includes having an application for credit declined, and subsequent
        copies upon request.</p>

    <p>To obtain a copy of your consumer report in our databases, please complete and sign the
        <a href="/pdf/Consumer-Report-Request-Form.pdf" target="_blank">Consumer Report Request Form</a> and
        return it to us via US Postal Service along with all of the requested information and documentation.
        Note that you do not have to use our Form, as long as you provide all the information that is requested.
        Our Form is being provided as a convenience to you.</p>

    <p>If you are not able to download the form, you may send a request in writing. The request must include:
        your full name, address, social security number, the previous addresses you have in the past five years,
        and a clear copy of both sides of your Driver’s License or state identification card, or two
        alternative forms of identification, such as A copy of a recent (no less than 60 days old) cable,
        utility or phone bill, with a matching address of request, or a copy of your Social Security
        card, or a copy of your birth certificate, or a copy of your US passport (picture page only),
        or a copy of your voided consumer check with matching address of request, or a copy of your
        Alien Registration Card.</p>

    <p>Mail the request to:
        <br>
        theRRD
        <br>
        Attention: Consumer Affairs Department
        <br>
        4514 Travis Street Suite 213
        <br>
        Dallas, TX 75205
        <br>
    </p>

    <p>To obtain a free copy of your consumer credit report from one or more of the national consumer
        credit bureaus (Equifax, Experian and TransUnion), please visit
        <a href="https://www.annualcreditreport.com/index.action" target="_blank">www.annualcreditreport.com.</a></p>

    <div class="divide40"></div>

    <h3 class="heading">Dispute information on your Consumer Report</h3>

    <p>If you do not recognize the name of the company that requested your consumer report or the
        information contained within your consumer report, or believe the information contained within
        your consumer report may be inaccurate, or otherwise wish to dispute an inquiry by theRRD on
        your credit file, please complete and sign the <a href="/pdf/Consumer-Dispute-Form.pdf" target="_blank">Consumer Dispute Form</a>
        and return it to us via US Postal Service along with all of the requested information and documentation.
        Note that you do not have to use our form, as long as you provide all the information that is requested.
        Our Form is being provided as a convenience to you.</p>

    <p>If you are not able to download the form, please submit a request in writing to investigate,
        verify and/or correct any discrepancies. However, please note that only inaccurate information may
        be removed from your credit report; negative information that is accurate will stay on your credit
        report as long as governing laws allow. Please provide us with a written letter, clearly setting
        forth the following information:</p>

    <ul>
        <li>Your Full Name</li>
        <li>Other Name</li>
        <li>Full Address</li>
        <li>Home Phone</li>
        <li>Employer Name & Address</li>
        <li>Your Social Security Number</li>
        <li>Your Date of Birth</li>
        <li>Clear copy of your Driver’s License or state identification card or two alternative forms of identification</li>
        <li>Details as to what items you believe may be inaccurate</li>
        <li>Details as to why you believe items may be inaccurate</li>
        <li>Details as to the correct information you feel is accurate</li>
        <li>Documents supporting your dispute</li>
        <li>Other details or documents you believe will be helpful in our investigation</li>
    </ul>

    <p>Please send your written dispute and attach all required documentation to
        <br>
        theRRD
        <br>
        Attention: Compliance Department
        <br>
        4514 Travis Street Suite 213
        <br>
        Dallas, TX 75205
        <br>
    </p>

    <p>For questions concerning this process or for the status of a request previously
        submitted you may reach the Consumer Affairs Department via phone at:
        <br><br>
        Phone: 855-733-2289
        <br>
        Fax: 214-594-2804
    </p>
</div>
